{% include('overall_header.html') %}

{% if S_EDIT %}
	{% INCLUDEJS '@blitze_content/vendor/jquery-ui/jquery-ui.min.js' %}
	{% INCLUDEJS '@blitze_content/vendor/codemirror/lib/codemirror.min.js' %}
	{% INCLUDEJS '@blitze_content/vendor/codemirror/addon/display/autorefresh.min.js' %}
	{% INCLUDEJS '@blitze_content/vendor/twig.js/index.min.js' %}
	{% INCLUDEJS '@blitze_content/assets/acp/content_admin.min.js' %}

	{% INCLUDECSS '@blitze_content/vendor/jquery-ui/themes/smoothness/jquery-ui.min.css' %}
	{% INCLUDECSS '@blitze_content/vendor/codemirror/lib/codemirror.min.css' %}
	{% INCLUDECSS '@blitze_content/vendor/codemirror/theme/monokai.min.css' %}
	{% INCLUDECSS '@blitze_content/assets/acp/content_admin.min.css' %}

	{% if CONTENT_LANGNAME %}{{ lang('CONTENT_TYPE') ~ lang('COLON') }} <strong>{{ CONTENT_LANGNAME }}</strong>{% endif %}

	<form id="edit-type" method="post" action="{{ U_ACTION }}">
	<fieldset class="permissions">
		<p class="small">{{ lang('REQUIRED_FIELDS') }}</p><br />

		<div class="permissions-category">
			<ul id="content-tabs">
				<li class="activetab"><a class="ctab" href="#ctype"><span class="tabbg">{{ lang('TYPE') }}</span></a></li>
				<li><a class="ctab" href="#cfields"><span class="tabbg">{{ lang('CONTENT_FIELDS') }}*</span></a></li>
				<li><a class="ctab" href="#ctemplates"><span class="tabbg">{{ lang('FIELDS_TEMPLATE') }}</span></a></li>
				<li><a class="ctab" href="#csettings"><span class="tabbg">{{ lang('CONTENT_SETTINGS') }}</span></a></li>
			</ul>
		</div>
		<div class="panels">
			<div id="ctype" class="permissions-panel">
				<span class="corners-top"><span></span></span>
					<fieldset>
						<dl>
							<dt><label for="content-name">{{ lang('CONTENT_NAME') ~ lang('COLON') }}*</label><br /><span>{{ lang('CONTENT_NAME_EXPLAIN') }}</span></dt>
							<dd><input id="content-name" name="content_name" type="text" class="small" maxlength="50" value="{{ CONTENT_NAME }}" /></dd>
						</dl>
						<dl>
							<dt><label for="content-langname">{{ lang('CONTENT_LANGNAME') ~ lang('COLON') }}*</label><br /><span>{{ lang('CONTENT_LANGNAME_EXPLAIN') }}</span></dt>
							<dd><input id="content-langname" name="content_langname" type="text" class="medium" maxlength="75" value="{{ CONTENT_LANGNAME }}" /></dd>
						</dl>
						<dl>
							<dt><label for="content-desc">{{ lang('CONTENT_DESC') ~ lang('COLON') }}</label><br /><span>{{ lang('CONTENT_DESC_EXPLAIN') }}</span></dt>
							<dd><textarea id="content-desc" name="content_desc" rows="5" cols="45">{{ CONTENT_DESC }}</textarea></dd>
						</dl>
						<dl>
							<dt><label for="index_show_desc">{{ lang('SHOW_DESC_INDEX') ~ lang('COLON') }}</label><br /><span>{{ lang('SHOW_DESC_INDEX_EXPLAIN') }}</span></dt>
							<dd>
								<label><input type="radio" class="radio" id="index-show-desc" name="index_show_desc" value="1"{% if INDEX_SHOW_DESC %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
								<label><input type="radio" class="radio" name="index_show_desc" value="0"{% if !INDEX_SHOW_DESC %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
							</dd>
						</dl>
						<dl>
							<dt><label for="content-enabled">{{ lang('CONTENT_ACTIVE') ~ lang('COLON') }}</label></dt>
							<dd>
								<label><input type="radio" class="radio" id="content-enabled" name="content_enabled" value="1"{% if CONTENT_ENABLED !== false %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
								<label><input type="radio" class="radio" name="content_enabled" value="0"{% if CONTENT_ENABLED === false %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
							</dd>
						</dl>
						{% if S_CAN_COPY_PERMISSIONS %}
						<dl>
							<dt><label for="copy-forum-perm">{{ lang('COPY_PERMISSION') ~ lang('COLON') }}</label><br /><span>{{ lang('COPY_PERMISSION_EXPLAIN') }}</span></dt>
							<dd>
								<select id="copy-forum-perm" name="copy_forum_perm"><option value="">{{ lang('NO_COPY_PERMISSIONS') }}</option>{{ S_FORUM_OPTIONS }}</select>
							</dd>
						</dl>
						{% endif %}
						<dl>
							<dt><label for="content-view">{{ lang('CONTENT_VIEW') ~ lang('COLON') }}</label></dt>
							<dd>
								<select id="content-view" name="content_view" data-togglable-settings="true">
								{% for service, label in CONTENT_VIEWS %}
									<option value="{{ service }}"{% if service === VIEW %} selected="selected"{% endif %} data-toggle-setting="#content-view-{{ service|replace({'.': '\\.'}) }}">{{ lang(label) }}</option>
								{% endfor %}
								</select>
								<div class="content-view-settings">
									<p>&nbsp;</p>
									<div id="content-view-blitze.content.view.tiles">
										<dl>
											<dt><label for="tiles-per-row">{{ lang('TILES_PER_ROW') ~ lang('COLON') }}</label></dt>
											<dd>
												{%- set tiles_per_row = CONTENT_VIEW_SETTINGS.tiles_per_row|default(3) -%}
												<select id="tiles-per-row" name="view_settings[blitze.content.view.tiles][tiles_per_row]">
												{%- for cols in [1, 2, 3, 4, 6] %}
													<option value="{{ cols }}"{% if cols == tiles_per_row %} selected="selected"{% endif %}>{{ cols }}</option>
												{% endfor -%}
												</select>
											</dd>
										</dl>
										<dl>
											<dt><label for="tiles-offset">{{ lang('TILES_OFFSET') ~ lang('COLON') }}</label><br /><span>{{ lang('TILES_OFFSET_EXPLAIN') }}</span></dt>
											<dd>
												<input id="tiles-offset" name="view_settings[blitze.content.view.tiles][offset]" type="number" size="2" min="0" step="1" value="{{ CONTENT_VIEW_SETTINGS.offset|default(0) }}" />
											</dd>
										</dl>
									</div>
									{% EVENT blitze_content_view_settings %}
								</div>
							</dd>
						</dl>
					</fieldset>
				<span class="corners-bottom"><span></span></span>
			</div>
			<div id="cfields" class="permissions-panel" style="display: none;">
				<span class="corners-top"><span></span></span>
					<fieldset class="permissions">
						<p style="text-align: right">
							<button id="add-field">{{ lang('ADD_FIELD') }}</button>
						</p>
	
						<div id="fields-container">
							{% include('content_fields.html') %}
						</div>
	
						<br />
						<div id="add-field-info" class="add-field-info ui-corner-all">{{ lang('ADD_LABEL_PROMPT') }}</div>
					</fieldset>
				<span class="corners-bottom"><span></span></span>
			</div>
			<div id="ctemplates" class="permissions-panel" style="display: none;">
				<span class="corners-top"><span></span></span>
					<fieldset class="permissions">
						<div class="permissions-category">
							<ul class="rightside">
								<li class="activetab"><a class="ctab" href="#summary-tpl"><span class="tabbg">{{ lang('SUMMARY_TEMPLATE') }}</span></a></li>
								<li><a class="ctab" href="#detail-tpl"><span class="tabbg">{{ lang('DETAIL_TEMPLATE') }}</span></a></li>
							</ul>
						</div>
						<div id="fields-template" class="full-width">
							<div id="summary-tpl" class="permissions-panel">
								<span class="corners-top"><span></span></span>
									<fieldset class="permissions">
										<p id="preview-summary" class="content"></p>
										<textarea id="tpl-custom-summary" class="custom-template" name="summary_tpl">{{ SUMMARY_TPL }}</textarea>
										<p class="small">{{ lang('SUMMARY_TEMPLATE_EXPLAIN') }}</p>
									</fieldset>
								<span class="corners-bottom"><span></span></span>
							</div>
							<div id="detail-tpl" class="permissions-panel" style="display: none;">
								<span class="corners-top"><span></span></span>
									<fieldset class="permissions">
										<p id="preview-detail" class="content"></p>
										<textarea id="tpl-custom-detail" class="editor custom-template" name="detail_tpl">{{ DETAIL_TPL }}</textarea>
										<p class="small">{{ lang('DETAIL_TEMPLATE_EXPLAIN') }}</p>
									</fieldset>
								<span class="corners-bottom"><span></span></span>
							</div>
						</div>
						<div class="tpl-fields-container">
							<br clear="both" />
							<fieldset id="available-fields" class="row2">
								<legend>{{ lang('CONTENT_FIELDS') }}</legend>
							{% for field in CONTENT_FIELDS %}
								<a class="button" href="#" data-tag="{{ field.FIELD_NAME }}" data-ftype="{{ field.FIELD_TYPE }}">{{ field.FIELD_LABEL }}</a>
							{% endfor %}
							</fieldset>
							<fieldset id="post-info" class="row2">
								<legend>{{ lang('TOPIC_DATA') }}</legend>
								<a class="button" href="#" data-tag="TOPIC_ID">{{ lang('TOPIC_ID') }}</a>
								<a class="button" href="#" data-tag="TOPIC_TITLE">{{ lang('TOPIC_TITLE') }}</a>
								<a class="button" href="#" data-tag="TOPIC_URL">{{ lang('TOPIC_URL') }}</a>
								<a class="button" href="#" data-tag="TOPIC_AUTHOR">{{ lang('TOPIC_AUTHOR') }}</a>
								<a class="button" href="#" data-tag="TOPIC_AUTHOR_FULL">{{ lang('TOPIC_AUTHOR_FULL') }}</a>
								<a class="button" href="#" data-tag="TOPIC_AUTHOR_COLOUR">{{ lang('TOPIC_AUTHOR_COLOUR') }}</a>
								<a class="button" href="#" data-tag="TOPIC_AUTHOR_AVATAR">{{ lang('TOPIC_AUTHOR_AVATAR') }}</a>
								<a class="button" href="#" data-tag="TOPIC_AUTHOR_URL">{{ lang('TOPIC_AUTHOR_URL') }}</a>
								<a class="button" href="#" data-tag="TOPIC_DATE">{{ lang('TOPIC_DATE') }}</a>
								<a class="button" href="#" data-tag="TOPIC_UNIX_TIME">{{ lang('TOPIC_UNIX_TIME') }}</a>
								<a class="button" href="#" data-tag="TOPIC_COMMENTS">{{ lang('TOPIC_COMMENTS') }}</a>
								<a class="button" href="#" data-tag="TOPIC_VIEWS">{{ lang('TOPIC_VIEWS') }}</a>
							</fieldset>
						</div>
					</fieldset>
				<span class="corners-bottom"><span></span></span>
			</div>
			<div id="csettings" class="permissions-panel" style="display: none;">
				<span class="corners-top"><span></span></span>
					<fieldset>
						<dl>
							<dt><label for="req-approval">{{ lang('REQ_APPROVAL') ~ lang('COLON') }}</label></dt>
							<dd>
								<label><input type="radio" class="radio" id="req-approval" name="req_approval" value="1"{% if REQ_APPROVAL %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
								<label><input type="radio" class="radio" name="req_approval" value="0"{% if !REQ_APPROVAL %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
							</dd>
						</dl>
						<dl>
							<dt><label for="allow-views">{{ lang('DISPLAY_VIEWS') ~ lang('COLON') }}</label><br /><span>{{ lang('DISPLAY_VIEWS_EXPLAIN') }}</span></dt>
							<dd>
								<label><input type="radio" class="radio" id="allow-views" name="allow_views" value="1"{% if ALLOW_VIEWS !== false %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
								<label><input type="radio" class="radio" name="allow_views" value="0"{% if ALLOW_VIEWS === false %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
							</dd>
						</dl>
						<dl>
							<dt><label for="show-pagination">{{ lang('SHOW_PAGINATION') ~ lang('COLON') }}</label></dt>
							<dd>
								<label><input type="radio" class="radio" id="show-pagination" name="show_pagination" value="1"{% if SHOW_PAGINATION !== false %} checked="checked"{% endif %} /> {{ lang('YES') }}</label>
								<label><input type="radio" class="radio" name="show_pagination" value="0"{% if SHOW_PAGINATION === false %} checked="checked"{% endif %} /> {{ lang('NO') }}</label>
							</dd>
						</dl>
						<dl>
							<dt><label for="items-per-page">{{ lang('ITEMS_PER_PAGE') ~ lang('COLON') }}</label></dt>
							<dd><input type="number" id="items-per-page" class="small" size="5" name="items_per_page" value="{{ ITEMS_PER_PAGE }}" /></dd>
						</dl>
						<dl>
							<dt><label for="comments_type">{{ lang('COMMENTS_TYPE') ~ lang('COLON') }}</label><br /><span>{{ lang('COMMENTS_TYPE_EXPLAIN') }}</span></dt>
							<dd>
								<select id="comments-type" name="comments" data-togglable-settings="true">
									<option value=""{% if !service %} selected="selected"{% endif %}>{{ lang('NONE') }}</option>
								{% for service, label in COMMENT_TYPES %}
									<option value="{{ service }}"{% if service === COMMENTS %} selected="selected"{% endif %} data-toggle-setting="#comment-type-{{ service|replace({'.': '\\.'}) }}">{{ lang(label) }}</option>
								{% endfor %}
								</select><br /><br />

								<div id="comment-type-blitze.content.comments">
									<dl>
										<dt><label for="comments-per-page">{{ lang('COMMENTS_PER_PAGE') ~ lang('COLON') }}</label></dt>
										<dd>
											<input id="comments-per-page" name="comments_settings[blitze.content.comments][per_page]" type="number" size="2" min="1" step="1" value="{{ COMMENTS_SETTINGS.my_setting|default(10) }}" />
										</dd>
									</dl>
								</div>
								{% EVENT blitze_content_comment_type_settings %}
							</dd>
						</dl>
						<dl>
							<dt><label for="items-per-page">{{ lang('TOPIC_BLOCKS') ~ lang('COLON') }}</label><br /><span>{{ lang('TOPIC_BLOCKS_EXPLAIN') }}</span></dt>
							<dd>
								<input type="hidden" id="input-topic-blocks" name="topic_blocks" value="{{ TOPIC_BLOCKS|join(',') }}" />
								<div class="options-box">
									<h6>{{ lang('TOPIC_BLOCKS_SELECTED') }}</h6>
									<ul id="selected-topic-blocks" class="topic-blocks">
									{% for service in TOPIC_BLOCKS if TOPIC_BLOCK_OPS[service] %}
										{%- set name = TOPIC_BLOCK_OPS[service] -%}
										<li data-service="{{ service }}" title="{{ lang(name ~ '_EXPLAIN') }}">{{ lang(name) }}</li>
									{% endfor %}
									</ul>
								</div>
								<div class="options-box">
									<h6>{{ lang('TOPIC_BLOCKS_AVAILABLE') }}</h6>
									<ul id="available-topic-block-options" class="topic-blocks">
									{% for service, name in TOPIC_BLOCK_OPS if service not in TOPIC_BLOCKS %}
										<li data-service="{{ service }}" title="{{ lang(name ~ '_EXPLAIN') }}">{{ lang(name) }}</li>
									{% endfor %}
									</ul>
								</div>
							</dd>
						</dl>
					</fieldset>
				<span class="corners-bottom"><span></span></span>
			</div>
		</div>
	</fieldset>

	<fieldset>
		<p class="submit-buttons">
			<input class="button1" type="submit" id="fieldsubmit" name="submit" value="{{ lang('SUBMIT') }}" />&nbsp;
			<input class="button2" type="reset" id="fieldreset" name="reset" value="{{ lang('RESET') }}" />
		</p>
	</fieldset>
	</form>

	{% include('content_fields_js_tpl.html') %}

{% elseif S_DELETE_TYPE %}

	<a href="{{ U_ACTION }}" style="float: {{ S_CONTENT_FLOW_END }};">&laquo; {{ lang('BACK') }}</a>

	<h1>{{ lang('CONTENT_TYPE_DELETE') }}</h1>

	<p>{{ lang('CONFIRM_DELETE_TYPE') }}</p>

	<form id="postform" method="post" action="{{ U_ACTION }}">
		<fieldset>
			<legend>{{ lang('INFORMATION') }}</legend>
			<dl>
				<dt><label>{{ lang('CONTENT_TYPE') ~ lang('COLON') }}</label></dt>
				<dd><strong>{{ CONTENT_TYPE_TITLE }}</strong></dd>
			</dl>
			<dl>
				<dt><label for="delete-action">{{ lang('ACTION') ~ lang('COLON') }}</label></dt>
				<dd><label><input type="radio" class="radio" id="delete_action" name="action_posts" value="delete" checked="checked" /> {{ lang('DELETE_TOPICS') }}</label></dd>
				{% if S_MOVE_FORUM_OPTIONS %}
				<dd><label><input type="radio" class="radio" name="action_posts" value="move" /> {{ lang('TRANSFER_TOPICS') }}</label> <select name="transfer_to_id">{{ S_MOVE_FORUM_OPTIONS }}</select></dd>
				{% endif %}
			</dl>
			<p class="submit-buttons">
				{{ S_FORM_TOKEN }}
				<input type="hidden" name="do" value="delete" />
				<input type="hidden" name="type" value="{{ CONTENT_TYPE }}" />
				<input class="button1" style="float: {{ S_CONTENT_FLOW_END }}; margin: 4px" type="submit" id="fieldsubmit" name="submit" value="{{ lang('PROCEED') }}" />
			</p>
		</fieldset>
	</form>

{% else %}

	<p><a class="button2" href="{{ U_ADD_TYPE }}">{{ lang('ADD_TYPE') }}</a></p>

	<table cellspacing="1" width="100%">
		<thead>
			<th colspan="5">{{ lang('CONTENT_TYPES') }}</th>
		</thead>
		<tbody>
			<tr>
				<td class="row3"><b>{{ lang('TYPE') }}</b></td>
				<td class="row3" width="10%" style="text-align: center;"><b>{{ lang('STATUS') }}</b></td>
				<td class="row3" width="5%" style="text-align: center;"><b>{{ lang('ACTION') }}</b></td>
			</tr>
			{% for type in TYPES %}
			<tr {% if loop.index is even %}class="row1"{% else %}class="row2"{% endif %}>
				<td><a target="_blank" href="{{ type.U_VIEW }}">{{ type.CONTENT_TYPE }}</a></td>
				<td style="text-align: center; vertical-align: middle;"> {% if type.S_ENABLED %}<a href="{{ type.U_STATUS }}">{{ lang('DISABLE') }}</a>{% else %}<a href="{{ type.U_STATUS }}">{{ lang('ENABLE') }}</a>{% endif %}</td>
				<td style="white-space: nowrap; text-align: center; vertical-align: middle;">
					<a href="{{ type.U_POST }}" title="{{ lang('POST') }}"><img src="images/file_new.gif" border="0" alt="{{ lang('POST') }}" /></a>&nbsp;
					<a href="{{ type.U_FORUM_PERMS }}" title="{{ type.FORUM_PERMS }}"><img src="images/file_not_modified.gif" border="0" alt="" /></a>&nbsp;
					<a href="{{ type.U_EDIT }}" title="{{ lang('EDIT') }}"><img src="images/icon_edit.gif" border="0" alt="{{ lang('EDIT') }}" /></a>&nbsp;
					<a href="{{ type.U_DELETE }}" title="{{ lang('DELETE') }}"><img src="images/icon_delete.gif" border="0" alt="{{ lang('DELETE') }}"></a>&nbsp;
				</td>
			</tr>
			{% else %}
			<tr>
				<td>{{ lang('NO_CONTENT_TYPES') }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endif %}

{% include('overall_footer.html') %}