<table class="table1" style="border-collapse: separate">
	<caption><strong>{CAPTION}</strong></caption>
	<thead>
		<tr class="navbar">
		<!-- BEGIN wday -->
			<th>{wday.DAY|date("d")}</th>
		<!-- END wday -->
		</tr>
	</thead>
	<tbody>
		<!-- BEGIN week -->
		<tr>
			<!-- BEGIN day -->
			{% set day_num %}
				<!-- IF week.day.EVENTS -->
					<a class="bg3" href="">{week.day.DAY_NUM}</a>
				<!-- ELSE -->
					{week.day.DAY_NUM}
				<!-- ENDIF -->
			{% endset %}
			<td><!-- IF week.day.S_OVERFLOW --><!-- IF SHOW_OVERFLOW --><span style="color: #ccc">{{ day_num }}</span><!-- ELSE -->&nbsp;<!-- ENDIF --><!-- ELSE -->{{ day_num }}<!-- ENDIF --></td>
			<!-- END day -->
		</tr>
		<!-- END week -->
		<tr style="display: none">
			<td colspan="7">
			<!-- BEGIN week -->
				<!-- BEGIN day -->
				<ul>
					{% for event in week.day.EVENTS %}
					<li>{{ event.title }}</li>
					{% endfor %}
				</ul>
				<!-- END day -->
			<!-- END week -->
			</td>
		</tr>
	</tbody>
</table>