{% if block.TOPICS|length %}
<div class="panel post sm-block-container sm-block-spacing">
	<div class="inner">
		<div class="postbody sm-full-width">
			<h2>{{ block.TITLE }}</h2>
			{% for content in block.TOPICS %}
			<p>
				<span><i class="icon fa-file fa-fw {% if content.S_UNREAD_POST %}icon-red{% else %}icon-lightgray{% endif %} icon-md" aria-hidden="true"></i><span class="sr-only">{{ content.MINI_POST }}</span></span>
				<a href="{{ content.TOPIC_URL }}">{{ content.TOPIC_TITLE }}</a>
			</p>
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}