<div class="panel post">
	<div class="inner">
		<div class="postbody sm-full-width">
			<h2 id="comments">
				<span class="fa-stack">
					<i class="fa fa-comment fa-stack-2x"></i>
					<strong class="fa-stack-1x fa-stack-text fa-inverse">{{ TOPIC_COMMENTS }}</strong>
				</span>
				{{ lang('COMMENTS') }}
				<div class="action-bar bar-top right-box">

				{% if not S_IS_BOT and S_DISPLAY_REPLY_INFO %}
					<a href="{{ U_POST_REPLY_TOPIC }}" class="button" title="{% if S_IS_LOCKED %}{{ lang('TOPIC_LOCKED') }}{% else %}{{ lang('POST_REPLY') }}{% endif %}">
						{% if S_IS_LOCKED %}
							<span>{{ lang('BUTTON_TOPIC_LOCKED') }}</span> <i class="icon fa-lock fa-fw" aria-hidden="true"></i>
						{% else %}
							<span>{{ lang('BUTTON_POST_REPLY') }}</span> <i class="icon fa-reply fa-fw" aria-hidden="true"></i>
						{% endif %}
					</a>
				{% endif %}
			
				{% if (S_NUM_POSTS > 1 or loops.pagination|length) and not S_IS_BOT  %}
					<form method="post" action="{{ S_TOPIC_ACTION }}">
					{% INCLUDE 'display_options.html' %}
					</form>
				{% endif %}
				</div>
			</h2>
		{% for postrow in loops.postrow %}
			<div class="medium-avatar align-center sm-responsive-hide left-box" style="width: 100px;">
				<br />
				<div class="img-ui">
					{{ postrow.AVATAR }}
				</div>
				<p class="author">
					<strong>{{ postrow.USERNAME_FULL }}</strong>
				</p>
			</div>
			<div id="p{{ postrow.POST_ID }}" class="panel bg2{% if postrow.S_UNREAD_POST %} unreadpost{% endif %}{% if postrow.S_POST_REPORTED %} reported{% endif %}{% if postrow.S_POST_DELETED %} deleted{% endif %}{% if postrow.S_ONLINE and not postrow.S_POST_HIDDEN %} online{% endif %}{% if postrow.POSTER_WARNINGS %} warned{% endif %} sm-fill-space">
			{% if postrow.S_POST_HIDDEN %}
				{% if postrow.S_POST_DELETED %}
					<div class="ignore" id="post_hidden{{ postrow.POST_ID }}">
						{{ postrow.L_POST_DELETED_MESSAGE }}<br />
						{{ postrow.L_POST_DISPLAY }}
					</div>
				{% elseif postrow.S_IGNORE_POST %}
					<div class="ignore" id="post_hidden{{ postrow.POST_ID }}">
						{{ postrow.L_IGNORE_POST }}<br />
						{{ postrow.L_POST_DISPLAY }}
					</div>
				{% endif %}
			{% endif %}
				<div id="post_content{{ postrow.POST_ID }}"{% if postrow.S_POST_HIDDEN %} style="display: none;"{% endif %}>
					<h3><a href="#p{{ postrow.POST_ID }}">{{ postrow.POST_SUBJECT }}</a></h3>

					{% if not S_IS_BOT %}
						{% if (postrow.U_EDIT or postrow.U_DELETE or postrow.U_REPORT or postrow.U_WARN or postrow.U_INFO or postrow.U_QUOTE) %}
							<ul class="post-buttons">
								{% if postrow.U_EDIT %}
									<li>
										<a href="{{ postrow.U_EDIT }}" title="{{ lang('EDIT_POST') }}" class="button button-icon-only">
											<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('BUTTON_EDIT') }}</span>
										</a>
									</li>
								{% endif %}
								{% if postrow.U_DELETE %}
									<li>
										<a href="{{ postrow.U_DELETE }}" title="{{ lang('DELETE_POST') }}" class="button button-icon-only">
											<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DELETE_POST') }}</span>
										</a>
									</li>
								{% endif %}
								{% if postrow.U_REPORT %}
									<li>
										<a href="{{ postrow.U_REPORT }}" title="{{ lang('REPORT_POST') }}" class="button button-icon-only">
											<i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('REPORT_POST') }}</span>
										</a>
									</li>
								{% endif %}
								{% if postrow.U_WARN %}
									<li>
										<a href="{{ postrow.U_WARN }}" title="{{ lang('WARN_USER') }}" class="button button-icon-only">
											<i class="icon fa-exclamation-triangle fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('WARN_USER') }}</span>
										</a>
									</li>
								{% endif %}
								{% if postrow.U_INFO %}
									<li>
										<a href="{{ postrow.U_INFO }}" title="{{ lang('INFORMATION') }}" class="button button-icon-only">
											<i class="icon fa-info fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('INFORMATION') }}</span>
										</a>
									</li>
								{% endif %}
								{% if postrow.U_QUOTE %}
									<li>
										<a href="{{ postrow.U_QUOTE }}" title="{{ lang('REPLY_WITH_QUOTE') }}" class="button button-icon-only">
											<i class="icon fa-quote-left fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('QUOTE') }}</span>
										</a>
									</li>
								{% endif %}
							</ul>
						{% endif %}
					{% endif %}
					<p class="author">
						{% if S_IS_BOT %}
							<span><i class="icon fa-file fa-fw {% if postrow.S_UNREAD_POST %}icon-red{% else %}icon-lightgray{% endif %} icon-md" aria-hidden="true"></i><span class="sr-only">{{ postrow.MINI_POST }}</span></span>
						{% else %}
							<a class="unread" href="{{ postrow.U_MINI_POST }}" title="{{ postrow.MINI_POST }}">
								<i class="icon fa-file fa-fw {% if postrow.S_UNREAD_POST %}icon-red{% else %}icon-lightgray{% endif %} icon-md" aria-hidden="true"></i><span class="sr-only">{{ postrow.MINI_POST }}</span>
							</a>
						{% endif %}
						<span class="responsive-hide">{{ lang('POST_BY_AUTHOR') }} <strong>{{ postrow.USERNAME_FULL }}</strong> &raquo; </span>{{ postrow.POST_DATE }}
					</p>

					{% if postrow.S_POST_UNAPPROVED %}
					<form method="post" class="mcp_approve" action="{{ postrow.U_APPROVE_ACTION }}">
						<p class="post-notice unapproved">
							<span><i class="icon fa-question icon-red fa-fw" aria-hidden="true"></i></span>
							<strong>{{ lang('POST_UNAPPROVED_ACTION') }}</strong>
							<input class="button2" type="submit" value="{{ lang('DISAPPROVE') }}" name="action[disapprove]" />
							<input class="button1" type="submit" value="{{ lang('APPROVE') }}" name="action[approve]" />
							<input type="hidden" name="post_id_list[]" value="{{ postrow.POST_ID }}" />
							{{ S_FORM_TOKEN }}
						</p>
					</form>
					{% elseif postrow.S_POST_DELETED %}
					<form method="post" class="mcp_approve" action="{{ postrow.U_APPROVE_ACTION }}">
						<p class="post-notice deleted">
							<strong>{{ lang('POST_DELETED_ACTION') }}</strong>
							{% if postrow.S_DELETE_PERMANENT %}
								<input class="button2" type="submit" value="{{ lang('DELETE') }}" name="action[delete]" />
							{% endif %}
							<input class="button1" type="submit" value="{{ lang('RESTORE') }}" name="action[restore]" />
							<input type="hidden" name="post_id_list[]" value="{{ postrow.POST_ID }}" />
							{{ S_FORM_TOKEN }}
						</p>
					</form>
					{% endif %}

					{% if postrow.S_POST_REPORTED %}
					<p class="post-notice reported">
						<a href="{{ postrow.U_MCP_REPORT }}"><i class="icon fa-exclamation fa-fw icon-red" aria-hidden="true"></i><strong>{{ lang('POST_REPORTED') }}</strong></a>
					</p>
					{% endif %}

					<div class="content">{{ postrow.MESSAGE }}</div>

					{% if postrow.S_HAS_ATTACHMENTS %}
						<dl class="attachbox">
							<dt>
								{{ lang('ATTACHMENTS') }}
							</dt>
							{% for attachment in postrow.attachment %}
								<dd>{{ attachment.DISPLAY_ATTACHMENT }}</dd>
							{% endfor %}
						</dl>
					{% endif %}

					{% if postrow.S_DISPLAY_NOTICE %}<div class="rules">{{ lang('DOWNLOAD_NOTICE') }}</div>{% endif %}
					{% if postrow.DELETED_MESSAGE or postrow.DELETE_REASON %}
						<div class="notice post_deleted_msg">
							{{ postrow.DELETED_MESSAGE }}
							{% if postrow.DELETE_REASON %}<br /><strong>{{ lang('REASON') }}{{ lang('COLON') }}</strong> <em>{{ postrow.DELETE_REASON }}</em>{% endif %}
						</div>
					{% elseif postrow.EDITED_MESSAGE or postrow.EDIT_REASON %}
						<div class="notice">
							{{ postrow.EDITED_MESSAGE }}
							{% if postrow.EDIT_REASON %}<br /><strong>{{ lang('REASON') }}{{ lang('COLON') }}</strong> <em>{{ postrow.EDIT_REASON }}</em>{% endif %}
						</div>
					{% endif %}
					<div class="back2top">
						<a href="#top" class="top" title="{{ lang('BACK_TO_TOP') }}">
							<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
							<span class="sr-only">{{ lang('BACK_TO_TOP') }}</span>
						</a>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			{% if not postrow.S_LAST_ROW %}<hr class="dashed" />{% endif %}
		{% else %}
			<p>{{ lang('NO_COMMENTS') }}</p>
		{% endfor %}
		</div>
	</div>
</div>

{% if S_QUICK_REPLY %}
	{% INCLUDE 'quickreply_editor.html' %}
{% endif %}

{% if loops.pagination|length or TOTAL_POSTS %}
<div class="action-bar bottom">
	<div class="pagination">
		{{ TOTAL_POSTS }} 
		{% if loops.pagination|length %}
		{% INCLUDE 'pagination.html' %}
		{% else %}
		&bull; {{ PAGE_NUMBER }}
		{% endif %}
	</div>
	<div class="clear"></div>
</div>
{% endif %}
