<!-- INCLUDECSS @primetime_content/content_blog.min.css -->
<!-- IF not S_HIDE_HEADERS --><!-- INCLUDE overall_header.html --><!-- ENDIF -->

<!-- IF CONTENT_TYPE -->
<h2 class="forum-title">{CONTENT_TYPE}</h2>

<div>{CONTENT_DESC}</div><br />
<!-- ENDIF -->

<div class="panel post cms-block-spacing">
	<div class="inner">
<!-- BEGIN topic_row -->
		<div class="postbody pt-postbody">
			<div class="calendar">{topic_row.TOPIC_DATE|date('d')} <em>{topic_row.TOPIC_DATE|date('M')}</em></div>
		<!-- IF not topic_row.CUSTOM_DISPLAY -->
			<h3 class="first"><a href="{topic_row.TOPIC_URL}">{topic_row.TOPIC_TITLE}</a></h3>
			<p class="author" style="display: inline"><!-- IF S_IS_BOT -->{topic_row.MINI_POST_IMG}<!-- ELSE --><a href="{topic_row.U_MINI_POST}">{topic_row.MINI_POST_IMG}</a><!-- ENDIF --><span class="responsive-hide">{L_POST_BY_AUTHOR} </span><strong>{topic_row.TOPIC_AUTHOR_FULL}</strong> | <i class="fa fa-calendar"></i> {topic_row.TOPIC_DATE|date("m/d/Y")}<!-- IF S_COMMENTS --> | <i class="fa fa-comments-o fa-lg"></i> <a href="{topic_row.TOPIC_URL}#comments">{topic_row.TOPIC_COMMENTS}<span class="responsive-hide"> {L_COMMENTS}</span></a><!-- ENDIF --></p><br /><br />
		<!-- ENDIF -->
			<div class="content" style="display: inline">
			<!-- IF topic_row.CUSTOM_DISPLAY -->
				{topic_row.CUSTOM_DISPLAY}
			<!-- ELSE -->
				{topic_row.SEQ_DISPLAY}
				<p>&nbsp;</p>

				<div class="buttons align-right">
					<a href="{topic_row.TOPIC_URL}" class="button icon-button">{L_READ_MORE}</a>
				</div>
			<!-- ENDIF -->
			</div>
		</div>
		<!-- IF not topic_row.S_LAST_ROW -->
		<p>&nbsp;</p>
		<hr />
		<p>&nbsp;</p>
		<!-- ENDIF -->
<!-- BEGINELSE -->
		{L_CONTENT_NO_TOPICS}
<!-- END topic_row -->
	</div>
</div>

<!-- IF .pagination or TOTAL_POSTS -->
<div class="action-bar bottom">
	<div class="pagination">
		{TOTAL_POSTS} 
		<!-- IF .pagination -->
		<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
		&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<!-- IF not S_HIDE_HEADERS --><!-- INCLUDE overall_footer.html --><!-- ENDIF -->