<!-- IF not S_HIDE_HEADERS --><!-- INCLUDE overall_header.html --><!-- ENDIF -->

<!-- IF CONTENT_TYPE -->
<h2 class="forum-title">{CONTENT_TYPE}</h2>

<div>{CONTENT_DESC}</div><br />
<!-- ENDIF -->

<!-- BEGIN topic_row -->
<div class="panel post cms-block-spacing">
	<div class="inner">
		<div class="postbody pt-postbody">
		<!-- IF not topic_row.CUSTOM_DISPLAY -->
			<h3 class="first"><a href="{topic_row.TOPIC_URL}">{topic_row.TOPIC_TITLE}</a></h3>
			<p class="author"><!-- IF S_IS_BOT -->{topic_row.MINI_POST_IMG}<!-- ELSE --><a href="{topic_row.U_MINI_POST}">{topic_row.MINI_POST_IMG}</a><!-- ENDIF --><span class="responsive-hide">{L_POST_BY_AUTHOR} <strong>{topic_row.TOPIC_AUTHOR_FULL}</strong></span> | <i class="fa fa-calendar"></i> {topic_row.TOPIC_DATE|date("m/d/Y")}<!-- IF S_COMMENTS --> | <i class="fa fa-comments-o fa-lg"></i> <a href="{topic_row.TOPIC_URL}#comments">{topic_row.TOPIC_COMMENTS}<span class="responsive-hide"> {L_COMMENTS}</span></a><!-- ENDIF --></p>
		<!-- ENDIF -->
			<div class="content">
				<!-- IF topic_row.CUSTOM_DISPLAY -->
					{topic_row.CUSTOM_DISPLAY}
				<!-- ELSE -->
					{topic_row.SEQ_DISPLAY}
					<p>&nbsp;</p>

					<div class="buttons">
						<a href="{topic_row.TOPIC_URL}" class="button icon-button">{L_READ_MORE}</a>
					</div>
				<!-- ENDIF -->
			</div>
		</div>
	</div>
</div>
<!-- BEGINELSE -->
<div class="panel post cms-block-spacing">
	<div class="inner">
		{L_CONTENT_NO_TOPICS}
	</div>
</div>
<!-- END topic_row -->

<!-- IF .pagination or TOTAL_POSTS -->
<div class="action-bar bottom">
	<div class="pagination">
		{TOTAL_POSTS} 
		<!-- IF .pagination -->
		<!-- INCLUDE pagination.html -->
		<!-- ELSE -->
		&bull; {PAGE_NUMBER}
		<!-- ENDIF -->
	</div>
	<div class="clear"></div>
</div>
<!-- ENDIF -->

<!-- IF not S_HIDE_HEADERS --><!-- INCLUDE overall_footer.html --><!-- ENDIF -->