{% INCLUDE ''~ MODE ~'_header.html' %}
	{% if S_ACTION %}
	<div class="pull-right responsive-center">
		<form method="post" action="{{ S_ACTION }}">
			<fieldset>
				<input type="search" placeholder="{{ lang('TOPIC_TITLE') }}" class="panel inputbox tiny" name="keyword" size="20" maxlength="128" value="" />
				<input type="submit" class="panel bg3" value="{{ lang('SEARCH') }}" />
			</fieldset>
		</form>
	</div>
	{% endif %}
<h2>{{ lang('MANAGE_CONTENT') }}</h2>

{% if S_VIEWING %}

	<div class="panel post">
		<div class="inner">
			<h4>{{ lang('TOPIC_REVIEW') }}</h4>
			<h3 id="review">
				<span class="right-box"><a href="#review" onclick="viewableArea(getElementById('topicreview'), true); var rev_text = getElementById('review').getElementsByTagName('a').item(0).firstChild; if (rev_text.data == '{{ lang('EXPAND_VIEW')|escape('js') }}'){rev_text.data = '{{ lang('COLLAPSE_VIEW')|escape('js') }}'; } else if (rev_text.data == '{{ lang('COLLAPSE_VIEW')|escape('js') }}'){rev_text.data = '{{ lang('EXPAND_VIEW')|escape('js') }}'};">{{ lang('EXPAND_VIEW') }}</a></span>
				<span>&nbsp;</span>
			</h3>

			<div id="topicreview">
				{% INCLUDE ''~ S_VIEWING ~'' %}
			</div>
		</div>
	</div>

{% else %}
	<div class="panel">
		<div class="inner">
			<div class="action-bar top responsive-center">
				{% if loops.postable|length %}
				<div class="dropdown-container dropdown-container-right dropdown-button-control topic-tools">
					<span title="{{ lang('CONTENT_NEW') }}" class="button dropdown-trigger dropdown-select"><i class="icon fa-plus fa-fw" aria-hidden="true"></i>{{ lang('CONTENT_NEW') }}</span>
					<div class="dropdown hidden">
						<div class="pointer"><div class="pointer-inner"></div></div>
						<ul class="dropdown-contents dropdown-nonscroll">
							{% for postable in loops.postable %}
							<li><a href="{{ postable.U_POST }}"><i class="icon fa-square" style="color: #{{ postable.COLOUR }}"></i>{{ postable.TYPE }}</a></li>
							{% endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
				<div class="search-box responsive-center" role="search">
					<form method="post" action="{{ search_url }}">
						<fieldset>
							<input class="inputbox search tiny" type="search" name="search" size="20" placeholder="{{ lang('SEARCH_MINI') }}" value="{{ search_info.search }}">
							<button class="button button-search" type="submit" title="{{ lang('SEARCH') }}">
								<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH') }}</span>
							</button>
							{% if MODE == 'mcp' %}
							<div class="dropdown-container dropdown-container-right dropdown-button-control topic-tools">
								<span class="button dropdown-trigger dropdown-select button-search-end"><i class="icon fa-cog fa-fw" aria-hidden="true"></i></span>
								<div class="dropdown hidden">
									<div class="pointer"><div class="pointer-inner"></div></div>
									<ul class="dropdown-contents dropdown-nonscroll">
										{% for type, label in search_types %}
										<li><label><input type="radio" name="search_type" value="{{ type }}"{% if search_info.type === type %} checked="checked"{% endif %} /> {{ lang(label) }}</label></li>
										{% endfor %}
									</ul>
								</div>
							</div>
							{% endif %}
						</fieldset>
					</form>
				</div>

				<div class="pull-right responsive-hide">
					{% if loops.status|length %}
					<div class="dropdown-container dropdown-container-right dropdown-button-control topic-tools">
						<span title="{{ lang('TOPIC_STATUS') }}" class="button dropdown-trigger dropdown-select"><i class="icon {% if S_STATUS_FILTER %}fa-filter fa-green{% else %}fa-square-o{% endif %}"></i> {{ lang('TOPIC_STATUS') }}</span>
						<div class="dropdown hidden">
							<div class="pointer"><div class="pointer-inner"></div></div>
							<ul class="dropdown-contents dropdown-nonscroll">
							{% for status in loops.status %}
								{% if status.S_SELECTED %}
								<li><i class="icon fa-caret-right"></i><strong>{{ lang(status.TITLE) }}</strong></li>
								{% else %}
								<li><a href="{{ status.U_VIEW }}"><i class="icon fa-angle-right"></i>{{ lang(status.TITLE) }}</a></li>
								{% endif %}
							{% endfor %}
							</ul>
						</div>
					</div>
					{% endif %}

					{% if loops.content|length > 1 %}
					<div class="dropdown-container dropdown-container-right dropdown-button-control topic-tools">
						<span title="{{ lang('CONTENT_TYPE') }}" class="button dropdown-trigger dropdown-select"><i class="icon {% if S_CONTENT_FILTER %}fa-filter fa-green{% else %}fa-square-o{% endif %}"></i> {{ lang('CONTENT_TYPE') }}</span>
						<div class="dropdown hidden">
							<div class="pointer"><div class="pointer-inner"></div></div>
							<ul class="dropdown-contents dropdown-nonscroll">
							{% for content in loops.content %}
								{% if content.S_SELECTED %}
								<li><i class="icon fa-square" style="color: #{{ content.COLOUR }}"></i><strong>{{ lang(content.TITLE) }}</strong></li>
								{% else %}
								<li><a href="{{ content.U_VIEW }}"><i class="icon fa-square" style="color: #{{ content.COLOUR }}"></i>{{ lang(content.TITLE) }}</a></li>
								{% endif %}
							{% endfor %}
							</ul>
						</div>
					</div>
					{% endif %}
				</div>
			</div>

			{% if MODE == 'mcp' %}<form method="post" id="mcp" action="{{ U_MCP_ACTION }}">{% endif %}
			{% if loops.topicrow|length %}
				{% if PAGINATION or TOTAL_TOPICS %}
				<div class="action-bar top pull-right">
					<div class="pagination">
						{{ TOTAL_TOPICS }}
						{% if loops.pagination|length %}
						{% INCLUDE 'pagination.html' %}
						{% else %}
						&bull; {{ PAGE_NUMBER }}
						{% endif %}
					</div>
				</div>
				<div class="clear"></div>
				{% endif %}

				<ul class="topiclist">
					<li class="header">
						<dl class="row-item">
							<dt><div class="list-inner align-center">{{ lang('TITLE') }}</div></dt>
							<dd class="posts">{{ lang('STATUS') }}</dd>
							<dd class="lastpost align-center"><span>{{ lang('TYPE') }}</span></dd>
							<dd class="mark">{{ lang('ACTION') }}</dd>
						</dl>
					</li>
				</ul>
				<ul class="topiclist cplist">
					{% for topicrow in loops.topicrow %}
						{% set action_buttons %}
							{% if topicrow.S_POST_UNAPPROVED && MODE == 'ucp' %}
								<i class="icon fa-ban fa-fw fa-lg" aria-hidden="true"></i>
							{% else %}
								<a href="{{ topicrow.U_MINI_POST }}" title="{{ lang('GOTO_TOPIC') }}">
									<i class="icon fa-chevron-circle-right fa-lg fa-fw {% if topicrow.S_UNREAD_POST %}icon-red{% else %}icon-lightgray{% endif %}" aria-hidden="true"></i>
								</a>
								{% if topicrow.U_EDIT %}<a href="{{ topicrow.U_EDIT }}" title="{{ lang('EDIT_POST') }}"><i class="icon fa-edit fa-fw fa-lg fa-green" aria-hidden="true"></i></a>{% else %}<i class="icon fa-edit fa-fw fa-lg" aria-hidden="true"></i>{% endif %}
								{% if topicrow.U_DELETE %}<a href="{{ topicrow.U_DELETE }}" title="{{ lang('DELETE_POST') }}"><i class="icon fa-trash fa-fw fa-lg fa-red" aria-hidden="true"></i></a>{% endif %}
								{% if MODE == 'mcp' %}<input type="checkbox" name="topic_id_list[]" value="{{ topicrow.TOPIC_ID }}"{% if topicrow.S_REQ_MOD_INPUT %} disabled="disabled" title="{{ lang('REQ_MOD_INPUT') }}"{% endif %}>{% endif %}
							{% endif %}
						{% endset %}
					<li class="row{% if topicrow.S_ROW_COUNT is odd %} bg1{% else %} bg2{% endif %}{% if topicrow.S_TOPIC_REPORTED %} reported{% endif %}">
						<dl class="row-item {{ topicrow.TOPIC_IMG_STYLE }}">
							<dt {% if topicrow.TOPIC_ICON_IMG %}style="background-image: url({{ T_ICONS_PATH }}{{ topicrow.TOPIC_ICON_IMG }}); background-repeat: no-repeat;"{% endif %}>
								<div class="list-inner">
								{% set short_title = topicrow.TOPIC_TITLE|truncate %}
								{% if topicrow.S_POST_UNAPPROVED && MODE == 'ucp' %}
									<p class="topictitle" title="{{ topicrow.TOPIC_TITLE }}">{{ short_title }}</p>
								{% else %}
									<a href="{{ topicrow.U_REVIEW_TOPIC }}" class="topictitle" title="{{ topicrow.TOPIC_TITLE }}">{{ short_title }}</a>
									{% if MODE == 'mcp' %}
									{% if topicrow.S_TOPIC_DELETED or topicrow.S_POSTS_DELETED %}
									<a href="{{ topicrow.U_MCP_QUEUE }}" title="{{ lang('TOPIC_DELETED') }}">
										<i class="icon fa-recycle fa-fw icon-green" aria-hidden="true"></i><span class="sr-only">{{ lang('TOPIC_DELETED') }}</span>
									</a>
									{% endif %}
									{% if topicrow.S_TOPIC_REPORTED %}
									<a href="{{ topicrow.U_MCP_REPORT }}" title="{{ lang('TOPIC_REPORTED') }}">
										<i class="icon fa-exclamation fa-fw icon-red" aria-hidden="true"></i><span class="sr-only">{{ lang('TOPIC_REPORTED') }}</span>
									</a>
									{% endif %}
									{% endif %}
									<div>
										{% if topicrow.S_HAS_POLL %}<i class="icon fa-bar-chart fa-fw" aria-hidden="true"></i>{% endif %}
										{% if topicrow.ATTACH_ICON_IMG %}<i class="icon fa-paperclip fa-fw" aria-hidden="true"></i>{% endif %}
										{% if MODE == 'mcp' %}<span><i class="icon fa-user fa-fw"></i><strong>{{ topicrow.USERNAME_FULL }}</strong> </span>{% endif %}
										<span title="{{ lang('PUBLISH_DATE') }}"><i class="icon fa-calendar fa-fw"></i><strong>{{ topicrow.TOPIC_DATE }}</strong> </span>
										<span title="{{ lang('VIEWS') }}"><i class="icon fa-eye fa-fw"></i><strong>{{ topicrow.TOPIC_VIEWS }}</strong> </span>
										{%- if topicrow.S_COMMENTS %}
										<span title="{{ lang('COMMENTS') }}"><i class="icon fa-comment fa-fw"></i><strong>{{ topicrow.TOPIC_COMMENTS }}</strong> </span>
										{%- endif %}
									</div>
									<div class="action-bar bottom responsive-show left-box sm-full-width" style="display: none;">
										<div class="clear"></div>
										<div class="pull-right">{{ action_buttons }}</div>
										<div class="pull-left">{{ lang('TYPE') ~ lang('COLON') }} <a href="{{ topicrow.U_CONTENT_TYPE }}"><strong>{{ topicrow.CONTENT_TYPE }}</strong></a></div>
									</div>
								{% endif %}
								</div>
							</dt>
							<dd class="posts"><a href="{{ topicrow.U_TOPIC_STATUS }}" title="{{ topicrow.FIRST_POST_TIME }}">{{ lang('TOPIC_' ~ topicrow.TOPIC_STATUS|upper) }}</a> <dfn>{{ lang('STATUS') }}</dfn></dd>
							<dd class="lastpost align-center"><a href="{{ topicrow.U_CONTENT_TYPE }}"><span class="badge" style="background-color: #{{ topicrow.CONTENT_TYPE_COLOR }}; color: #fff">{{ topicrow.CONTENT_TYPE }}</span></a><dfn>{{ lang('LAST_POST') }}</dfn></dd>
							<dd class="mark align-center responsive-hide">
								{{ action_buttons }}
							</dd>
						</dl>
					</li>
					{% endfor %}
				</ul>

				{% if loops.pagination|length or TOTAL_TOPICS %}
				<div class="pagination">
					{% if TOTAL_TOPICS %} {{ TOTAL_TOPICS }}{% endif %}
					{% if loops.pagination|length %}
						{% INCLUDE 'pagination.html' %}
					{% else %}
						&bull; {{ PAGE_NUMBER }}
					{% endif %}
				</div>
				{% endif %}
			{% else %}
				<p>&nbsp;</p>
				<p class="align-center">{{ lang('NO_CONTENT_TOPICS') }}</p>
			{% endif %}
		</div>

		{% if MODE == 'mcp' %}
		<p>&nbsp;</p>
		<fieldset class="display-actions">
			<select name="action">
				<option value="" selected="selected">{{ lang('SELECT_ACTION') }}</option>
				{% if S_CAN_DELETE %}<option value="delete_topic">{{ lang('DELETE') }}</option>{% endif %}
				{% if S_CAN_RESTORE %}<option value="restore_topic">{{ lang('RESTORE') }}</option>{% endif %}
				{% if S_CAN_LOCK %}<option value="lock">{{ lang('LOCK') }}</option><option value="unlock">{{ lang('UNLOCK') }}</option>{% endif %}
				{% if S_CAN_SYNC %}<option value="resync">{{ lang('RESYNC') }}</option>{% endif %}
				{% if S_CAN_MAKE_NORMAL %}<option value="make_normal">{{ lang('MCP_MAKE_NORMAL') }}</option>{% endif %}
				{% if S_CAN_MAKE_STICKY %}<option value="make_sticky">{{ lang('MCP_MAKE_STICKY') }}</option>{% endif %}
				{% if S_CAN_MAKE_ANNOUNCE %}
				<option value="make_announce">{{ lang('MCP_MAKE_ANNOUNCEMENT') }}</option>
				<option value="make_global">{{ lang('MCP_MAKE_GLOBAL') }}</option>
				{% endif %}
			</select>
			<input class="button2" type="submit" value="{{ lang('SUBMIT') }}" />
			<div><a href="#" onclick="marklist('mcp', 'topic_id_list', true); return false;">{{ lang('MARK_ALL') }}</a> :: <a href="#" onclick="marklist('mcp', 'topic_id_list', false); return false;">{{ lang('UNMARK_ALL') }}</a></div>
		</fieldset>
		</form>
		{% endif %}
	</div>
{% endif %}

{% INCLUDE ''~ MODE ~'_footer.html' %}
