{% if S_WRAP_FORM %}
<form id="{{ FORM_NAME }}" method="{{ FORM_METHOD }}" action="{{ FORM_ACTION }}">
	<fieldset class="fields1">
{% endif %}
	<script type="text/javascript">
		// <![CDATA[
	{% if S_EDITOR %}
		var form_name = '{{ FORM_NAME }}';
		var text_name = '';
		var load_draft = false;
		var upload = false;

		// Define the bbCode tags
		var bbcode = new Array();
		var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'{% for custom_tags in loops.custom_tags %}, {{ custom_tags.BBCODE_NAME }}{% endfor %});
		var imageTag = false;

		// Helpline messages
		var help_line = {
			b: '{{ lang('BBCODE_B_HELP')|escape('js') }}',
			i: '{{ lang('BBCODE_I_HELP')|escape('js') }}',
			u: '{{ lang('BBCODE_U_HELP')|escape('js') }}',
			q: '{{ lang('BBCODE_Q_HELP')|escape('js') }}',
			c: '{{ lang('BBCODE_C_HELP')|escape('js') }}',
			l: '{{ lang('BBCODE_L_HELP')|escape('js') }}',
			o: '{{ lang('BBCODE_O_HELP')|escape('js') }}',
			p: '{{ lang('BBCODE_P_HELP')|escape('js') }}',
			w: '{{ lang('BBCODE_W_HELP')|escape('js') }}',
			a: '{{ lang('BBCODE_A_HELP')|escape('js') }}',
			s: '{{ lang('BBCODE_S_HELP')|escape('js') }}',
			f: '{{ lang('BBCODE_F_HELP')|escape('js') }}',
			y: '{{ lang('BBCODE_Y_HELP')|escape('js') }}',
			d: '{{ lang('BBCODE_D_HELP')|escape('js') }}'
			{% for custom_tags in loops.custom_tags %}
			,cb_{{ custom_tags.BBCODE_ID }}: '{{ custom_tags.A_BBCODE_HELPLINE }}'
			{% endfor %}
		}

		function change_palette(field)
		{
			text_name = field;
			phpbb.toggleDisplay(field + '_colour_palette');
			e = document.getElementById(field + '_colour_palette');

			if (e.style.display == 'block')
			{
				document.getElementById(field + '_bbpalette').value = '{{ lang('FONT_COLOR_HIDE')|escape('js') }}';
			}
			else
			{
				document.getElementById(field + '_bbpalette').value = '{{ lang('FONT_COLOR')|escape('js') }}';
			}
		}
	{% endif %}

		// Translations for datetime picker
		var dpLang = {
			days: [
				'{{ lang(['datetime', 'Sunday']) }}',
				'{{ lang(['datetime', 'Monday']) }}',
				'{{ lang(['datetime', 'Tuesday']) }}',
				'{{ lang(['datetime', 'Wednesday']) }}',
				'{{ lang(['datetime', 'Thursday']) }}',
				'{{ lang(['datetime', 'Friday']) }}',
				'{{ lang(['datetime', 'Saturday']) }}',
			],
			daysShort: [
				'{{ lang(['datetime', 'Sun']) }}',
				'{{ lang(['datetime', 'Mon']) }}',
				'{{ lang(['datetime', 'Tue']) }}',
				'{{ lang(['datetime', 'Wed']) }}',
				'{{ lang(['datetime', 'Thu']) }}',
				'{{ lang(['datetime', 'Fri']) }}',
				'{{ lang(['datetime', 'Sat']) }}',
			],
			daysMin: [
				'{{ lang(['datetime', 'Su']) }}',
				'{{ lang(['datetime', 'Mo']) }}',
				'{{ lang(['datetime', 'Tu']) }}',
				'{{ lang(['datetime', 'We']) }}',
				'{{ lang(['datetime', 'Th']) }}',
				'{{ lang(['datetime', 'Fr']) }}',
				'{{ lang(['datetime', 'Sa']) }}',
			],
			months: [
				'{{ lang(['datetime', 'January']) }}',
				'{{ lang(['datetime', 'February']) }}',
				'{{ lang(['datetime', 'March']) }}',
				'{{ lang(['datetime', 'April']) }}',
				'{{ lang(['datetime', 'May']) }}',
				'{{ lang(['datetime', 'June']) }}',
				'{{ lang(['datetime', 'July']) }}',
				'{{ lang(['datetime', 'August']) }}',
				'{{ lang(['datetime', 'September']) }}',
				'{{ lang(['datetime', 'October']) }}',
				'{{ lang(['datetime', 'November']) }}',
				'{{ lang(['datetime', 'December']) }}',
			],
			monthsShort: [
				'{{ lang(['datetime', 'Jan']) }}',
				'{{ lang(['datetime', 'Feb']) }}',
				'{{ lang(['datetime', 'Mar']) }}',
				'{{ lang(['datetime', 'Apr']) }}',
				'{{ lang(['datetime', 'May_short']) }}',
				'{{ lang(['datetime', 'Jun']) }}',
				'{{ lang(['datetime', 'Jul']) }}',
				'{{ lang(['datetime', 'Aug']) }}',
				'{{ lang(['datetime', 'Sep']) }}',
				'{{ lang(['datetime', 'Oct']) }}',
				'{{ lang(['datetime', 'Nov']) }}',
				'{{ lang(['datetime', 'Dec']) }}',
			],
		};
		// ]]>
	</script>
	{% for element in loops.element %}
		<dl>
			<dt>{% if element.FIELD_LABEL %}<label for="{{ element.FIELD_ID }}">{{ element.FIELD_LABEL }}{% if element.FIELD_REQUIRED %}<abbr class="req" title="required">*</abbr>{% endif %}{{ lang('COLON') }}</label><br />{% endif %}<span>{{ element.FIELD_EXPLAIN }}</span></dt>
		{% if not element.FULL_WIDTH %}
			<dd>{{ element.FIELD_VIEW }}</dd>
		{% else %}
			<dd></dd>
			{{ element.FIELD_VIEW }}
		{% endif %}
		</dl>
	{% endfor %}
	{% for hidden in loops.hidden %}
		{{ hidden.FIELD_VIEW }}
	{% endfor %}
{% if S_WRAP_FORM %}
	</fieldset>

	<fieldset class="submit-buttons">
		{{ FORM_KEY }}
	{% for button in loops.button %}
		{{ button.FIELD_VIEW }}
	{% endfor %}
	</fieldset>
</form>
{% endif %}