<!-- IF S_WRAP_FORM -->
<form id="{FORM_NAME}" method="{FORM_METHOD}" action="{FORM_ACTION}">
	<fieldset class="fields1">
<!-- ENDIF -->
	<script type="text/javascript">
		// <![CDATA[
	<!-- IF S_EDITOR -->
		var form_name = '{FORM_NAME}';
		var text_name = '';
		var load_draft = false;
		var upload = false;

		// Define the bbCode tags
		var bbcode = new Array();
		var bbtags = new Array('[b]','[/b]','[i]','[/i]','[u]','[/u]','[quote]','[/quote]','[code]','[/code]','[list]','[/list]','[list=]','[/list]','[img]','[/img]','[url]','[/url]','[flash=]', '[/flash]','[size=]','[/size]'<!-- BEGIN custom_tags -->, {custom_tags.BBCODE_NAME}<!-- END custom_tags -->);
		var imageTag = false;

		// Helpline messages
		var help_line = {
			b: '{LA_BBCODE_B_HELP}',
			i: '{LA_BBCODE_I_HELP}',
			u: '{LA_BBCODE_U_HELP}',
			q: '{LA_BBCODE_Q_HELP}',
			c: '{LA_BBCODE_C_HELP}',
			l: '{LA_BBCODE_L_HELP}',
			o: '{LA_BBCODE_O_HELP}',
			p: '{LA_BBCODE_P_HELP}',
			w: '{LA_BBCODE_W_HELP}',
			a: '{LA_BBCODE_A_HELP}',
			s: '{LA_BBCODE_S_HELP}',
			f: '{LA_BBCODE_F_HELP}',
			y: '{LA_BBCODE_Y_HELP}',
			d: '{LA_BBCODE_D_HELP}'
			<!-- BEGIN custom_tags -->
			,cb_{custom_tags.BBCODE_ID}: '{custom_tags.A_BBCODE_HELPLINE}'
			<!-- END custom_tags -->
		}

		function change_palette(field)
		{
			text_name = field;
			phpbb.toggleDisplay(field + '_colour_palette');
			e = document.getElementById(field + '_colour_palette');

			if (e.style.display == 'block')
			{
				document.getElementById(field + '_bbpalette').value = '{LA_FONT_COLOR_HIDE}';
			}
			else
			{
				document.getElementById(field + '_bbpalette').value = '{LA_FONT_COLOR}';
			}
		}
	<!-- ENDIF -->

		// Translations for datetime picker
		var dpLang = {
			days: [
				'{{ lang(['datetime', 'Sunday']) }}',
				'{{ lang(['datetime', 'Monday']) }}',
				'{{ lang(['datetime', 'Tuesday']) }}',
				'{{ lang(['datetime', 'Wednesday']) }}',
				'{{ lang(['datetime', 'Thursday']) }}',
				'{{ lang(['datetime', 'Friday']) }}',
				'{{ lang(['datetime', 'Saturday']) }}',
			],
			daysShort: [
				'{{ lang(['datetime', 'Sun']) }}',
				'{{ lang(['datetime', 'Mon']) }}',
				'{{ lang(['datetime', 'Tue']) }}',
				'{{ lang(['datetime', 'Wed']) }}',
				'{{ lang(['datetime', 'Thu']) }}',
				'{{ lang(['datetime', 'Fri']) }}',
				'{{ lang(['datetime', 'Sat']) }}',
			],
			daysMin: [
				'{{ lang(['datetime', 'Su']) }}',
				'{{ lang(['datetime', 'Mo']) }}',
				'{{ lang(['datetime', 'Tu']) }}',
				'{{ lang(['datetime', 'We']) }}',
				'{{ lang(['datetime', 'Th']) }}',
				'{{ lang(['datetime', 'Fr']) }}',
				'{{ lang(['datetime', 'Sa']) }}',
			],
			months: [
				'{{ lang(['datetime', 'January']) }}',
				'{{ lang(['datetime', 'February']) }}',
				'{{ lang(['datetime', 'March']) }}',
				'{{ lang(['datetime', 'April']) }}',
				'{{ lang(['datetime', 'May']) }}',
				'{{ lang(['datetime', 'June']) }}',
				'{{ lang(['datetime', 'July']) }}',
				'{{ lang(['datetime', 'August']) }}',
				'{{ lang(['datetime', 'September']) }}',
				'{{ lang(['datetime', 'October']) }}',
				'{{ lang(['datetime', 'November']) }}',
				'{{ lang(['datetime', 'December']) }}',
			],
			monthsShort: [
				'{{ lang(['datetime', 'Jan']) }}',
				'{{ lang(['datetime', 'Feb']) }}',
				'{{ lang(['datetime', 'Mar']) }}',
				'{{ lang(['datetime', 'Apr']) }}',
				'{{ lang(['datetime', 'May_short']) }}',
				'{{ lang(['datetime', 'Jun']) }}',
				'{{ lang(['datetime', 'Jul']) }}',
				'{{ lang(['datetime', 'Aug']) }}',
				'{{ lang(['datetime', 'Sep']) }}',
				'{{ lang(['datetime', 'Oct']) }}',
				'{{ lang(['datetime', 'Nov']) }}',
				'{{ lang(['datetime', 'Dec']) }}',
			],
		};
		// ]]>
	</script>
	<!-- BEGIN element -->
		<dl>
			<dt><!-- IF element.FIELD_LABEL --><label for="{element.FIELD_ID}">{element.FIELD_LABEL}<!-- IF element.FIELD_REQUIRED --><abbr class="req" title="required">*</abbr><!-- ENDIF -->{L_COLON}</label><br /><!-- ENDIF --><span>{element.FIELD_EXPLAIN}</span></dt>
		<!-- IF not element.FULL_WIDTH -->
			<dd>{element.FIELD_VIEW}</dd>
		<!-- ELSE -->
			<dd></dd>
			{element.FIELD_VIEW}
		<!-- ENDIF -->
		</dl>
	<!-- END element -->
	<!-- BEGIN hidden -->
		{hidden.FIELD_VIEW}
	<!-- END hidden -->
<!-- IF S_WRAP_FORM -->
	</fieldset>

	<fieldset class="submit-buttons">
		{FORM_KEY}
	<!-- BEGIN button -->
		{button.FIELD_VIEW}
	<!-- END button -->
	</fieldset>
</form>
<!-- ENDIF -->