/*
* Based on tutorial at http://cssglobe.com/drawing-calendar-icon-with-css3/
*/
.calendar {
	font: bold 20px/40px Arial Black, Arial, Helvetica, sans-serif;
	position: relative;
	float: left;
	width: 50px;
	margin: 0.25em 10px 10px 0;
	padding-top: 5px;
	text-align: center;
	color: #000;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	background: #ededef;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededef), color-stop(100%,#ccc)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ededef 0%,#ccc 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top,  #ededef 0%, #ccc 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top,  #ededef 0%,#ccc 100%); /* IE10+ */
	background:      -o-linear-gradient(top,  #ededef 0%,#ccc 100%); /* Opera 11.10+ */
	text-shadow: #fff 0 1px 0;
	-webkit-box-shadow: 0 2px 2px #888;
	   -moz-box-shadow: 0 2px 2px #888;
	        box-shadow: 0 2px 2px #888;
}

.calendar em {
	font: bold 11px/30px Arial, Helvetica, sans-serif;
	display: block;
	color: #fff;
	border-top: 1px solid #00365a;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	        border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-bottomleft: 3px;
	        border-bottom-left-radius: 3px;
	background: #04599a;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04599a), color-stop(100%,#00365a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #04599a 0%,#00365a 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top,  #04599a 0%, #00365a 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top,  #04599a 0%,#00365a 100%); /* IE10+ */
	background:      -o-linear-gradient(top,  #04599a 0%,#00365a 100%); /* Opera 11.10+ */
	text-shadow: #00365a 0 -1px 0;
}

.calendar:before,
.calendar:after {
	position: absolute;
	z-index: 1;
	top: 4px;
	float: left;
	width: 6px;
	height: 6px;
	content: '';
	-webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	        border-radius: 10px;
	background: #111;
	-webkit-box-shadow: 0 1px 1px #fff;
	   -moz-box-shadow: 0 1px 1px #fff;
	        box-shadow: 0 1px 1px #fff;
}

.calendar:before {
	left: 7px;
}

.calendar:after {
	right: 7px;
}

.calendar em:before,
.calendar em:after {
	position: absolute;
	z-index: 2;
	top: -3px;
	float: left;
	width: 2px;
	height: 10px;
	content: '';
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
	        border-radius: 2px;
	background: #dadada;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f1f1f1), color-stop(100%,#aaa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f1f1f1 0%,#aaa 100%); /* Chrome10+,Safari5.1+ */
	background:    -moz-linear-gradient(top,  #f1f1f1 0%, #aaa 100%); /* FF3.6+ */
	background:     -ms-linear-gradient(top,  #f1f1f1 0%,#aaa 100%); /* IE10+ */
	background:      -o-linear-gradient(top,  #f1f1f1 0%,#aaa 100%); /* Opera 11.10+ */
}

.calendar em:before {
	left: 9px;
}

.calendar em:after {
	right: 9px;
}

.pt-postbody .first {
	float: none;
}