blitze_content_field_settings:
    path: /content/admin/field
    defaults: { _controller: blitze.content.field.controller:handle }

blitze_content_show:
    path: /content/{type}/{topic_id}/{slug}
    defaults: { _controller: blitze.content.main.controller:show }
    requirements:
        topic_id: \d+

blitze_content_type:
    path: /content/{type}
    defaults: { _controller: blitze.content.main.controller:index, page: 1 }

blitze_content_type_page:
    path: /content/{type}/page/{page}
    defaults: { _controller: blitze.content.main.controller:index, page: 1 }
    requirements:
        page: \d+

blitze_content_type_filter:
    path: /content/{type}/{filter_type}/{filter_value}
    defaults: { _controller: blitze.content.main.controller:index, page: 1 }

blitze_content_type_filter_page:
    path: /content/{type}/{filter_type}/{filter_value}/page/{page}
    defaults: { _controller: blitze.content.main.controller:index, page: 1 }
    requirements:
        page: \d+

blitze_content_filter:
    path: /content/{filter_type}/{filter_value}
    defaults: { _controller: blitze.content.main.controller:filter }

blitze_content_types:
    path: /content
    defaults: { _controller: blitze.content.main.controller:types }

blitze_content_filter_page:
    path: /content/{filter_type}/{filter_value}/page/{page}
    defaults: { _controller: blitze.content.main.controller:filter, page: 1 }
    requirements:
        page: \d+

blitze_content_multi_filter:
    path: /content/filter
    defaults: { _controller: blitze.content.main.controller:filter }

blitze_content_multi_filter_page:
    path: /content/filter/page/{page}
    defaults: { _controller: blitze.content.main.controller:filter, page: 1 }
    requirements:
        page: \d+

blitze_content_show_comments_page:
    path: /content/{type}/{topic_id}/{slug}/comments/page/{page}
    defaults: { _controller: blitze.content.main.controller:show }
    requirements:
        page: \d+
