.smc-toc {
    margin-left: 2%;
    max-width: 25%;

    > ul {
        margin: 15px;
    }
}

.smc-pagination {
    float: none;
    text-align: center;
}

.smc-poll {
    margin-top: 10px;
    margin-bottom: 20px;
}

.smc-action-bar {
    margin: 0;
}

.smc-back2top {
    clear: none;

    .smc-top {
        margin-top: 10px;
    }
}