{% if not S_HIDE_HEADERS %}{% INCLUDE 'overall_header.html' %}{% endif %}

<div class="panel post">
	<div class="inner">
		<div class="postbody sm-full-width">
			{% if S_POST_HIDDEN %}
				{% if S_POST_DELETED %}
					<div class="ignore" id="post_hidden{{ POST_ID }}">
						{{ lang('POST_DELETED_MESSAGE') }}<br />
						{{ lang('POST_DISPLAY') }}
					</div>
				{% elseif S_IGNORE_POST %}
					<div class="ignore" id="post_hidden{{ POST_ID }}">
						{{ lang('IGNORE_POST') }}<br />
						{{ lang('POST_DISPLAY') }}
					</div>
				{% endif %}
			{% endif %}
			<div id="post_content{{ POST_ID }}"{% if S_POST_HIDDEN %} style="display: none;"{% endif %}>

				{% if not S_IS_BOT %}
				{% if U_EDIT or U_DELETE or U_REPORT or U_WARN or U_INFO %}
				<ul class="post-buttons">
					{% if U_EDIT %}
					<li>
						<a href="{{ U_EDIT }}" title="{{ lang('EDIT_POST') }}" class="button button-icon-only">
							<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('BUTTON_EDIT') }}</span>
						</a>
					</li>
					{% endif %}
					{% if U_DELETE %}
					<li>
						<a href="{{ U_DELETE }}" title="{{ lang('DELETE_POST') }}" class="button button-icon-only">
							<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('DELETE_POST') }}</span>
						</a>
					</li>
					{% endif %}
					{% if U_REPORT %}
					<li>
						<a href="{{ U_REPORT }}" title="{{ lang('REPORT_POST') }}" class="button button-icon-only">
							<i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('REPORT_POST') }}</span>
						</a>
					</li>
					{% endif %}
					{% if U_WARN %}
					<li>
						<a href="{{ U_WARN }}" title="{{ lang('WARN_USER') }}" class="button button-icon-only">
							<i class="icon fa-exclamation-triangle fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('WARN_USER') }}</span>
						</a>
					</li>
					{% endif %}
					{% if U_INFO %}
					<li>
						<a href="{{ U_INFO }}" title="{{ lang('INFORMATION') }}" class="button button-icon-only">
							<i class="icon fa-info fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('INFORMATION') }}</span>
						</a>
					</li>
					{% endif %}
				</ul>
				{% endif %}
				{% endif %}

				{% if not CUSTOM_DISPLAY %}{% INCLUDE 'parts/detail_title.html' %}{% endif %}

				{% if S_POST_UNAPPROVED %}
				<form method="post" class="mcp_approve" action="{{ U_APPROVE_ACTION }}">
					<p class="post-notice unapproved">
						<span><i class="icon fa-question icon-red fa-fw" aria-hidden="true"></i></span>
						<strong>{{ lang('POST_UNAPPROVED_ACTION') }}</strong>
						<input class="button2" type="submit" value="{{ lang('DISAPPROVE') }}" name="action[disapprove]" />
					{% if !S_REQ_MOD_INPUT %}
						<input class="button1" type="submit" value="{{ lang('APPROVE') }}" name="action[approve]" />
					{% else %}
						<a class="button1" href="{{ U_MCP_EDIT }}" style="margin-bottom: -4px">{{ lang('APPROVE') }}</a>
					{% endif %}
						<input type="hidden" name="post_id_list[]" value="{{ POST_ID }}" />
						{{ S_FORM_TOKEN }}
					</p>
				</form>
				{% elseif S_TOPIC_DELETED %}
				<form method="post" class="mcp_approve" action="{{ U_APPROVE_ACTION }}">
					<p class="post-notice deleted">
						<strong>{{ lang('POST_DELETED_ACTION') }}</strong>
						{% if S_DELETE_PERMANENT %}
							<input class="button2" type="submit" value="{{ lang('DELETE') }}" name="action[delete]" />
						{% endif %}
						<input class="button1" type="submit" value="{{ lang('RESTORE') }}" name="action[restore]" />
						<input type="hidden" name="post_id_list[]" value="{{ POST_ID }}" />
						{{ S_FORM_TOKEN }}
					</p>
				</form>
				{% endif %}

				{% if S_TOPIC_REPORTED %}
				<p class="post-notice reported">
					<a href="{{ U_MCP_REPORT }}"><strong>{{ lang('POST_REPORTED') }}</strong></a>
				</p>
				{% endif %}

				<div class="content">
					{% if loops.toc|length %}
					<div class="responsive-hide toc rules pull-right" style="margin-left: 2%; max-width: 25%">
						<ul class="fa-ul" style="margin: 15px">
							<li><strong>{{ lang('CONTENT_TOC') }}</strong><hr /></li>
							{% for toc in loops.toc %}
							<li><a class="{% if toc.S_FIRST_ROW %}first{% endif %}{% if toc.S_PAGE %} current{% endif %}" href="{{ toc.U_VIEW }}"><i class="fa-li fa fa-angle-right"></i>{{ toc.TITLE }}</a></li>
							{% endfor %}
						</ul>
					</div>
					{% endif %}
					{% if TOPIC_POLL %}
					<div class="panel bg3 sm-fill-space" style="margin-top: 10px; margin-bottom: 20px">
						{{ TOPIC_POLL }}
					</div>
					{% endif %}
					{% if CUSTOM_DISPLAY %}{{ CUSTOM_DISPLAY }}{% else %}{{ FIELDS.body|join }}{% endif %}
				</div>

			{% if not S_NOT_LAST_PAGE %}
				{% if S_HAS_ATTACHMENTS %}
				<dl class="attachbox">
					<dt>{{ lang('ATTACHMENTS') }}</dt>
				{% for attachment in loops.attachment %}
					<dd>{{ attachment.DISPLAY_ATTACHMENT }}</dd>
				{% endfor %}
				</dl>
				{% endif %}

				{% if S_DISPLAY_NOTICE %}<div class="rules">{{ lang('DOWNLOAD_NOTICE') }}</div>{% endif %}
				{% if DELETED_MESSAGE or DELETE_REASON %}
				<div class="notice post_deleted_msg">
					{{ DELETED_MESSAGE }}
					{% if DELETE_REASON %}<br /><strong>{{ lang('REASON') }}{{ lang('COLON') }}</strong> <em>{{ DELETE_REASON }}</em>{% endif %}
				</div>
				{% elseif EDITED_MESSAGE or EDIT_REASON %}
				<div class="notice">
					{{ EDITED_MESSAGE }}
					{% if EDIT_REASON %}<br /><strong>{{ lang('REASON') }}{{ lang('COLON') }}</strong> <em>{{ EDIT_REASON }}</em>{% endif %}
				</div>
				{% endif %}
			{% endif %}

			{% if not FIELDS.CUSTOM_DISPLAY %}
			<div class="sm-content-footer">{{ FIELDS.footer|join(' | ') }}</div>
			{% endif %}

			{% if not S_PREVIEW && loops.page|length %}
			<div class="clear"></div>
			<p>&nbsp;</p>
			<div class="action-bar bottom">
				<div class="pagination" style="float: none; text-align: center">
					<ul>
						{% for page in loops.page %}
						{% if page.S_IS_PREV %}
						<li class="previous"><a href="{{ page.PAGE_URL }}" rel="prev" role="button">{{ lang('PREVIOUS') }}</a></li>
						{% elseif page.S_IS_CURRENT %}
						<li class="active"><span>{{ page.PAGE_NUMBER }}</span></li>
						{% elseif page.S_IS_ELLIPSIS %}
						<li class="ellipsis" role="separator"><span>{{ lang('ELLIPSIS') }}</span></li>
						{% elseif page.S_IS_NEXT %}
						<li class="next"><a href="{{ page.PAGE_URL }}" rel="next" role="button">{{ lang('NEXT') }}</a></li>
						{% else %}
						<li><a href="{{ page.PAGE_URL }}" role="button">{{ page.PAGE_NUMBER }}</a></li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
			</div>
		</div>

	{% if S_USER_INFO && !S_NOT_LAST_PAGE %}
		<p>&nbsp;</p>
		{% INCLUDE 'author_contact.html' %}
	{% endif %}

	{% if S_TOOLS %}
		<div class="action-bar bar-bottom">
			<!-- INCLUDE viewtopic_topic_tools.html -->
			{% if loops.quickmod|length %}
			<div class="quickmod dropdown-container dropdown-container-left dropdown-up dropdown-{{ S_CONTENT_FLOW_END }} dropdown-button-control" id="quickmod">
				<span title="{{ lang('QUICK_MOD') }}" class="button button-secondary dropdown-trigger dropdown-select">
					<i class="icon fa-gavel fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('QUICK_MOD') }}</span>
					<span class="caret"><i class="icon fa-sort-down fa-fw" aria-hidden="true"></i></span>
				</span>
				<div class="dropdown">
					<div class="pointer"><div class="pointer-inner"></div></div>
					<ul class="dropdown-contents">
					{% for quickmod in loops.quickmod %}
						{% DEFINE QUICKMOD_AJAX = (quickmod.VALUE in ['lock', 'unlock', 'delete_topic', 'restore_topic', 'make_normal', 'make_sticky', 'make_announce', 'make_global']) %}
						<li><a href="{{ quickmod.LINK }}"{% if definition.QUICKMOD_AJAX %} data-ajax="true" data-refresh="true"{% endif %}>{{ quickmod.TITLE }}</a></li>
					{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
		</div>
	{% endif %}

		<div class="back2top">
			<a href="#top" class="top" title="{{ lang('BACK_TO_TOP') }}">
				<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
				<span class="sr-only">{{ lang('BACK_TO_TOP') }}</span>
			</a>
		</div>
	</div>
</div>

{% for block in loops.topic_blocks %}
	{% include block.TPL_NAME %}
{% endfor %}

{% if S_COMMENTS %}{% INCLUDE 'comments.html' %}{% endif %}

{% if not S_HIDE_HEADERS %}{% INCLUDE 'overall_footer.html' %}{% endif %}