<!-- IF not S_HIDE_HEADERS --><!-- INCLUDE overall_header.html --><!-- ENDIF -->

<!-- INCLUDECSS @blitze_content/assets/content_tiles.min.css -->
<!-- INCLUDEJS @blitze_content/vendor/imagesloaded/imagesloaded.pkgd.min.js -->
<!-- INCLUDEJS @blitze_content/vendor/masonry/dist/masonry.pkgd.min.js -->
<!-- INCLUDEJS @blitze_content/assets/content_tiles.min.js -->

<!-- IF CONTENT_TYPE -->
<!-- INCLUDE views/content_type.html -->
<!-- ENDIF -->

<!-- IF .topic_row -->
	<div class="line">
		<div id="sitemaker-content-grid" class="tile-grid">
			<!-- BEGIN topic_row -->
			<div class="grid-col item">
				<div class="panel post tile cms-block-spacing">
					<div class="inner">
						<div class="postbody sm-postbody">
						<!-- INCLUDE views/moderator_info.html -->
						<!-- IF not topic_row.CUSTOM_DISPLAY -->
							<!-- INCLUDE views/content_summary_title.html -->
						<!-- ENDIF -->
							<div class="content">
								<!-- IF topic_row.CUSTOM_DISPLAY -->
								{topic_row.CUSTOM_DISPLAY}
								<!-- ELSE -->
								{topic_row.SEQ_DISPLAY}
								<p>&nbsp;</p>

								<div class="buttons right-box">
									<a href="{topic_row.TOPIC_URL}" class="button icon-button">{L_READ_MORE}</a>
								</div>
								<!-- ENDIF -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END topic_row -->
		</div>
	</div>
	<!-- IF .pagination -->
	<div class="panel bg2 load_more align-center">
	<!-- BEGIN pagination -->
		<!-- IF pagination.S_IS_NEXT -->
		<a id="tile-load-more" href="{pagination.PAGE_URL}" rel="next">{L_LOAD_MORE}</a>
		<!-- ENDIF -->
	<!-- END pagination -->
	</div>
	<!-- ENDIF -->
<!-- ELSE -->
<div class="panel post cms-block-spacing">
	<div class="inner">
		{L_CONTENT_NO_TOPICS}
	</div>
</div>
<!-- ENDIF -->

<!-- IF not S_HIDE_HEADERS --><!-- INCLUDE overall_footer.html --><!-- ENDIF -->