<!-- IF not S_HIDE_HEADERS --><!-- INCLUDE overall_header.html --><!-- ENDIF -->

<div class="panel post cms-block-spacing">
	<div class="inner">
		<div class="postbody sm-postbody">
			<!-- IF S_POST_HIDDEN -->
				<!-- IF S_POST_DELETED -->
					<div class="ignore" id="post_hidden{POST_ID}">
						{L_POST_DELETED_MESSAGE}<br />
						{L_POST_DISPLAY}
					</div>
				<!-- ELSEIF S_IGNORE_POST -->
					<div class="ignore" id="post_hidden{POST_ID}">
						{L_IGNORE_POST}<br />
						{L_POST_DISPLAY}
					</div>
				<!-- ENDIF -->
			<!-- ENDIF -->
			<div id="post_content{POST_ID}"<!-- IF S_POST_HIDDEN --> style="display: none;"<!-- ENDIF -->>

				<!-- IF not S_IS_BOT -->
				<!-- IF U_EDIT or U_DELETE or U_REPORT or U_WARN or U_INFO -->
				<ul class="post-buttons">
					<!-- IF U_EDIT -->
					<li>
						<a href="{U_EDIT}" title="{L_EDIT_POST}" class="button button-icon-only">
							<i class="icon fa-pencil fa-fw" aria-hidden="true"></i><span class="sr-only">{L_BUTTON_EDIT}</span>
						</a>
					</li>
					<!-- ENDIF -->
					<!-- IF U_DELETE -->
					<li>
						<a href="{U_DELETE}" title="{L_DELETE_POST}" class="button button-icon-only">
							<i class="icon fa-times fa-fw" aria-hidden="true"></i><span class="sr-only">{L_DELETE_POST}</span>
						</a>
					</li>
					<!-- ENDIF -->
					<!-- IF U_REPORT -->
					<li>
						<a href="{U_REPORT}" title="{L_REPORT_POST}" class="button button-icon-only">
							<i class="icon fa-exclamation fa-fw" aria-hidden="true"></i><span class="sr-only">{L_REPORT_POST}</span>
						</a>
					</li>
					<!-- ENDIF -->
					<!-- IF U_WARN -->
					<li>
						<a href="{U_WARN}" title="{L_WARN_USER}" class="button button-icon-only">
							<i class="icon fa-exclamation-triangle fa-fw" aria-hidden="true"></i><span class="sr-only">{L_WARN_USER}</span>
						</a>
					</li>
					<!-- ENDIF -->
					<!-- IF U_INFO -->
					<li>
						<a href="{U_INFO}" title="{L_INFORMATION}" class="button button-icon-only">
							<i class="icon fa-info fa-fw" aria-hidden="true"></i><span class="sr-only">{L_INFORMATION}</span>
						</a>
					</li>
					<!-- ENDIF -->
				</ul>
				<!-- ENDIF -->
				<!-- ENDIF -->

				<!-- IF not CUSTOM_DISPLAY --><!-- INCLUDE views/content_detail_title.html --><!-- ENDIF -->

				<!-- IF S_TOPIC_UNAPPROVED -->
				<form method="post" class="mcp_approve" action="{U_APPROVE_ACTION}">
					<p class="post-notice unapproved">
						<strong>{L_POST_UNAPPROVED_ACTION}</strong>
						<input class="button2" type="submit" value="{L_DISAPPROVE}" name="action[disapprove]" />
						<!-- IF not REQ_MOD_INPUT --><input class="button1" type="submit" value="{L_APPROVE}" name="action[approve]" /><!-- ELSE --> [ {L_REQ_MOD_INPUT} ]<!-- ENDIF -->
						<input type="hidden" name="post_id_list[]" value="{POST_ID}" />
						{S_FORM_TOKEN}
					</p>
				</form>
				<!-- ELSEIF S_POST_DELETED -->
				<form method="post" class="mcp_approve" action="{U_APPROVE_ACTION}">
					<p class="post-notice deleted">
						<strong>{L_POST_DELETED_ACTION}</strong>
						<input class="button2" type="submit" value="{L_DELETE}" name="action[disapprove]" />
						<input class="button1" type="submit" value="{L_RESTORE}" name="action[restore]" />
						<input type="hidden" name="post_id_list[]" value="{POST_ID}" />
						{S_FORM_TOKEN}
					</p>
				</form>
				<!-- ENDIF -->

				<!-- IF S_TOPIC_REPORTED -->
				<p class="post-notice reported">
					<a href="{U_MCP_REPORT}"><strong>{L_POST_REPORTED}</strong></a>
				</p>
				<!-- ENDIF -->

				<div class="content">
					<!-- IF .toc -->
					<div class="responsive-hide toc rules pull-right" style="margin-left: 2%; max-width: 25%">
						<ul class="fa-ul" style="margin: 15px">
							<li><strong>{L_CONTENT_TOC}</strong><hr /></li>
							<!-- BEGIN toc -->
							<li><a class="<!-- IF toc.S_FIRST_ROW -->first<!-- ENDIF --><!-- IF toc.S_PAGE --> current<!-- ENDIF -->" href="{toc.U_VIEW}"><i class="fa-li fa fa-angle-right"></i>{toc.TITLE}</a></li>
							<!-- END toc -->
						</ul>
					</div>
					<!-- ENDIF -->
					<!-- IF CUSTOM_DISPLAY -->{CUSTOM_DISPLAY}<!-- ELSE -->{SEQ_DISPLAY}<!-- ENDIF -->
				</div>

			<!-- IF not S_NOT_LAST_PAGE -->
				<!-- IF ATTACHMENTS -->
				<dl class="attachbox">
					<dt>
						{L_ATTACHMENTS}
					</dt>
					{% for attachment in ATTACHMENTS %}
						<dd>{{ attachment }}</dd>
					{% endfor %}
				</dl>
				<!-- ENDIF -->

				<!-- IF S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
				<!-- IF DELETED_MESSAGE or DELETE_REASON -->
				<div class="notice post_deleted_msg">
					{DELETED_MESSAGE}
					<!-- IF DELETE_REASON --><br /><strong>{L_REASON}{L_COLON}</strong> <em>{DELETE_REASON}</em><!-- ENDIF -->
				</div>
				<!-- ELSEIF EDITED_MESSAGE or EDIT_REASON -->
				<div class="notice">
					{EDITED_MESSAGE}
					<!-- IF EDIT_REASON --><br /><strong>{L_REASON}{L_COLON}</strong> <em>{EDIT_REASON}</em><!-- ENDIF -->
				</div>
				<!-- ENDIF -->
			<!-- ENDIF -->

			<!-- IF not S_PREVIEW && .page -->
			<div class="clear"></div>
			<p>&nbsp;</p>
			<div class="action-bar bottom">
				<div class="pagination" style="float: none; text-align: center">
					<ul>
						<!-- BEGIN page -->
						<!-- IF page.S_IS_PREV -->
						<li class="previous"><a href="{page.PAGE_URL}" rel="prev" role="button">{L_PREVIOUS}</a></li>
						<!-- ELSEIF page.S_IS_CURRENT -->
						<li class="active"><span>{page.PAGE_NUMBER}</span></li>
						<!-- ELSEIF page.S_IS_ELLIPSIS -->
						<li class="ellipsis" role="separator"><span>{L_ELLIPSIS}</span></li>
						<!-- ELSEIF page.S_IS_NEXT -->
						<li class="next"><a href="{page.PAGE_URL}" rel="next" role="button">{L_NEXT}</a></li>
						<!-- ELSE -->
						<li><a href="{page.PAGE_URL}" role="button">{page.PAGE_NUMBER}</a></li>
						<!-- ENDIF -->
						<!-- END page -->
					</ul>
				</div>
			</div>
			<!-- ENDIF -->
			</div>
		</div>

	<!-- IF S_USER_INFO && !S_NOT_LAST_PAGE -->
		<p>&nbsp;</p>
		<!-- INCLUDE author_contact.html -->
	<!-- ENDIF -->
		<div class="back2top">
			<a href="#top" class="top" title="{L_BACK_TO_TOP}">
				<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
				<span class="sr-only">{L_BACK_TO_TOP}</span>
			</a>
		</div>
		<div class="clear"></div>
	</div>
</div>

<!-- INCLUDE author_contents.html -->

<!-- IF S_COMMENTS and not S_PREVIEW -->
	<div class="panel post cms-block-container cms-block-spacing">
		<div class="inner">
			<div class="postbody sm-postbody">
				<h2 id="comments">
					<span class="fa-stack">
						<i class="fa fa-comment fa-stack-2x"></i>
						<strong class="fa-stack-1x fa-stack-text fa-inverse">{TOPIC_COMMENTS}</strong>
					</span>
					{L_COMMENTS}
				</h2>
			<!-- BEGIN comment -->
				<div id="p{comment.POST_ID}" class="panel bg2">
				<!-- IF not S_IS_BOT -->
				<!-- IF comment.U_EDIT or comment.U_DELETE or comment.U_REPORT or comment.U_WARN or comment.U_INFO or comment.U_QUOTE -->
				<ul class="post-buttons">
					<!-- IF comment.U_EDIT -->
					<li>
						<a href="{comment.U_EDIT}" title="{L_EDIT_POST}" class="button icon-button edit-icon"><span>{L_BUTTON_EDIT}</span></a>
					</li>
					<!-- ENDIF -->
					<!-- IF comment.U_DELETE -->
					<li>
						<a href="{comment.U_DELETE}" title="{L_DELETE_POST}" class="button icon-button delete-icon"><span>{L_DELETE_POST}</span></a>
					</li>
					<!-- ENDIF -->
					<!-- IF comment.U_REPORT -->
					<li>
						<a href="{comment.U_REPORT}" title="{L_REPORT_POST}" class="button icon-button report-icon"><span>{L_REPORT_POST}</span></a>
					</li>
					<!-- ENDIF -->
					<!-- IF comment.U_WARN -->
					<li>
						<a href="{comment.U_WARN}" title="{L_WARN_USER}" class="button icon-button warn-icon"><span>{L_WARN_USER}</span></a>
					</li>
					<!-- ENDIF -->
					<!-- IF comment.U_INFO -->
					<li>
						<a href="{comment.U_INFO}" title="{L_INFORMATION}" class="button icon-button info-icon"><span>{L_INFORMATION}</span></a>
					</li>
					<!-- ENDIF -->
				</ul>
				<!-- ENDIF -->
				<!-- ENDIF -->
					<div class="small-avatar img-align-left">
						<!-- IF comment.POSTER_AVATAR -->
						<div class="img-ui">
							{comment.POSTER_AVATAR}
						</div>
						<!-- ENDIF -->
						<h4>
							<i class="fa fa-user"></i> {comment.POST_AUTHOR_FULL}<br />
							{comment.MINI_POST_IMG}{comment.POST_DATE}
						</h4>
					</div>
					<br />
					<div class="content" style="display: inline">{comment.MESSAGE}</div>

					<div class="back2top">
						<!-- EVENT viewtopic_body_postrow_back2top_prepend -->
						<a href="#top" class="top" title="{L_BACK_TO_TOP}">
							<i class="icon fa-chevron-circle-up fa-fw icon-gray" aria-hidden="true"></i>
							<span class="sr-only">{L_BACK_TO_TOP}</span>
						</a>
						<!-- EVENT viewtopic_body_postrow_back2top_append -->
					</div>
				</div>
				<!-- IF not comment.S_LAST_ROW --><hr class="dashed" /><!-- ENDIF -->
			<!-- BEGINELSE -->
				<p>{L_NO_COMMENTS}</p>
			<!-- END comment -->
			</div>
		</div>
	</div>
	<!-- IF .pagination or TOTAL_POSTS -->
	<div class="action-bar bottom">
		<div class="pagination">
			{TOTAL_POSTS} 
			<!-- IF .pagination -->
			<!-- INCLUDE pagination.html -->
			<!-- ELSE -->
			&bull; {PAGE_NUMBER}
			<!-- ENDIF -->
		</div>
		<div class="clear"></div>
	</div>
	<!-- ENDIF -->

	<!-- IF POST_FORM -->
	<div class="panel post cms-block-container cms-block-spacing">
		<div class="inner">
			<div class="postbody sm-postbody">
				<h2>{L_NEW_COMMENT}</h2>
				{POST_FORM}
			</div>
		</div>
	</div>
	<!-- ENDIF -->
<!-- ENDIF -->

<!-- IF not S_HIDE_HEADERS --><!-- INCLUDE overall_footer.html --><!-- ENDIF -->