<div class="right-box">
	<!-- IF topic_row.S_TOPIC_UNAPPROVED or topic_row.S_POSTS_UNAPPROVED -->
	<a href="{topic_row.U_MCP_QUEUE}" title="{L_TOPIC_UNAPPROVED}">
		<i class="icon fa-question fa-fw icon-blue" aria-hidden="true"></i><span class="sr-only">{L_TOPIC_UNAPPROVED}</span>
	</a>
	<!-- ENDIF -->
	<!-- IF topic_row.S_TOPIC_DELETED -->
	<a href="{topic_row.U_MCP_QUEUE}" title="{L_TOPIC_DELETED}">
		<i class="icon fa-recycle fa-fw icon-green" aria-hidden="true"></i><span class="sr-only">{L_TOPIC_DELETED}</span>
	</a>
	<!-- ENDIF -->
	<!-- IF topic_row.S_TOPIC_REPORTED -->
	<a href="{topic_row.U_MCP_REPORT}" title="{L_TOPIC_REPORTED}">
		<i class="icon fa-exclamation fa-fw icon-red" aria-hidden="true"></i><span class="sr-only">{L_TOPIC_REPORTED}</span>
	</a>
	<!-- ENDIF -->
	<!-- IF topic_row.S_MOVED_TOPIC and S_CAN_DELETE -->&nbsp;<a href="{topic_row.U_DELETE_TOPIC}" class="topictitle">[ {L_DELETE_SHADOW_TOPIC} ]</a><!-- ENDIF -->
</div>
