{% if not S_HIDE_HEADERS %}{% INCLUDE 'overall_header.html' %}{% endif %}
{% INCLUDE 'parts/content_type.html' %}

{% INCLUDECSS '@blitze_content/assets/view/tiles/content_tiles.min.css' %}
{% INCLUDEJS '@blitze_content/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}
{% INCLUDEJS '@blitze_content/vendor/awesome-grid/awesome-grid.min.js' %}
{% INCLUDEJS '@blitze_content/assets/view/tiles/content_tiles.min.js' %}

{% if loops.topicrow|length %}
	{%- set desktopCols = content_view_settings.desktop_cols|default(3) -%}
	{%- set desktopCols = (topicrow|length < desktopCols) ? topicrow|length : desktopCols -%}
	<div id="sitemaker-content-tiles" style="position: relative" class="grid" data-desktop-columns="{{ desktopCols }}" data-tablet-columns="{{ content_view_settings.tablet_cols|default(2) }}" data-mobile-columns="{{ content_view_settings.mobile_cols|default(1) }}">
		{% for topicrow in loops.topicrow %}
		<div class="grid__col--1-of-3 grid-item">
			<div class="panel post tile sm-block-spacing">
				<div class="inner">
					<div class="postbody sm-postbody">
					{% if not topicrow.CUSTOM_DISPLAY %}
						{% INCLUDE 'parts/summary_title.html' %}
					{% endif %}
						<div class="content">
						{% if topicrow.CUSTOM_DISPLAY %}
							{{ topicrow.CUSTOM_DISPLAY }}
						{% else %}
							{{ topicrow.FIELDS.body|join }}
							<p>&nbsp;</p>
							<div class="align-right">
								<a href="{{ topicrow.TOPIC_URL }}" class="button">{{ lang('READ_MORE') }}</a>
							</div>
						{% endif %}
						</div>
						{% if not topicrow.FIELDS.CUSTOM_DISPLAY %}
						{{ topicrow.FIELDS.footer|join }}
						{% endif %}
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	{% if loops.pagination|length %}
	<div class="clear"></div>
	<div class="panel bg2 load_more align-center">
	{% for pagination in loops.pagination %}
		{% if pagination.S_IS_NEXT %}
		<a id="tile-load-more" href="{{ pagination.PAGE_URL }}" rel="next"><i class="fa fa-refresh fa-spin fa-2x fa-fw"></i>{{ lang('LOAD_MORE') }}</a>
		{% endif %}
	{% endfor %}
	</div>
	{% endif %}
{% else %}
<div class="panel post cms-block-spacing">
	<div class="inner">
		{{ lang('CONTENT_NO_TOPICS') }}
	</div>
</div>
{% endif %}

{% if not S_HIDE_HEADERS %}{% INCLUDE 'overall_footer.html' %}{% endif %}