{% macro month(name, data, show_count) %}
	{% if show_count %}<span class="info">{{ data.count|default(0) }}</span>{% endif %}
	{% if data.url|e %}<a class="postlink" href="{{ data.url }}">{{ name }}</a>{% else %}{{ name }}{% endif %}
{% endmacro %}

{%- if archive|length -%}
	{%- import _self as show -%}
	{%- if month_dsp == 'short' -%}
		{% set months = ['Jan', 'Feb', 'Mar', 'Apr', 'May_short', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'] %}
	{%- else -%}
		{% set months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %}
	{%- endif -%}
	<div>
	{%- for year in archive -%}
		<p><strong>{{ year.name }}</strong></p>
		<ul class="sm-list">
		{%- if all_months -%}
		{%- for i in 0..11 -%}
			<li>{{ show.month(lang(['datetime', months[i]]), year.months[i], show_count) }}</li>
		{%- endfor -%}
		{%- else -%}
		{%- for i, data in year.months -%}
			<li>{{ show.month(lang(['datetime', months[i]]), data, show_count) }}</li>
		{%- endfor -%}
		{%- endif -%}
		</ul>
		{% if loop.first && loop.length > 1 %}
		<p><br /><a href="#" onclick="phpbb.toggleDisplay('archive-full-list', 0); return false;">{{ lang('ARCHIVE_TOGGLE_DISPLAY') }}</a></p>
	</div>
	<div id="archive-full-list" style="display: none">
		{% endif %}
	{%- endfor -%}
	</div>
{%- endif -%}