<!-- INCLUDECSS ../theme/content_tiles.css -->
<!-- IF not S_HIDE_HEADERS --><!-- INCLUDE overall_header.html --><!-- ENDIF -->

<!-- IF CONTENT_TYPE -->
<h2 class="forum-title">{CONTENT_TYPE}</h2>

<div>{CONTENT_DESC}</div><br />
<!-- ENDIF -->

<!-- IF .topic_row -->
	<div class="line">
		<div id="grid">
			<!-- BEGIN topic_row -->
			<div class="unit item">
				<div class="tile">
				<table class="tablebg cms-block-spacing" width="100%" cellspacing="1">
					<tbody>
						<!-- IF not topic_row.CUSTOM_DISPLAY -->
						<tr>
							<td class="cat">
								<h4><a href="{topic_row.TOPIC_URL}">{topic_row.TOPIC_TITLE}</a></h4>
							</td>
						</tr>
						<!-- ENDIF -->
						<tr>
							<td class="row1 postbody" width="100%">
								<!-- IF topic_row.CUSTOM_DISPLAY -->
								{topic_row.CUSTOM_DISPLAY}
								<!-- ELSE -->
								{topic_row.SEQ_DISPLAY}
								<p>&nbsp;</p>

								<div class="buttons rightside">
									<a href="{topic_row.TOPIC_URL}" class="button icon-button">{L_READ_MORE}</a>
								</div>
								<!-- ENDIF -->
							</td>
						</tr>
					</tbody>
					<!-- IF not topic_row.CUSTOM_DISPLAY -->
					<tfooter>
						<tr>
							<td class="row3">
								<p>{topic_row.MINI_POST_IMG}<span class="responsive-hide">{L_POST_BY_AUTHOR} <strong>{topic_row.TOPIC_AUTHOR_FULL}</strong> &raquo; </span>{topic_row.TOPIC_DATE|date(m/d/Y)}</p>
							</td>
						</tr>
					</tfooter>
					<!-- ENDIF -->
				</table>
				</div>
			</div>
			<!-- END topic_row -->
		</div>
	</div>
	<!-- IF .pagination -->
	<div class="bg3 load_more align-center">
	<!-- BEGIN pagination -->
		<!-- IF pagination.S_IS_NEXT -->
		<a id="tile-load-more" href="{pagination.PAGE_URL}" rel="next" data-load="blitze.content.load_more">{L_LOAD_MORE}</a>
		<!-- ENDIF -->
	<!-- END pagination -->
	</div>
	<!-- ENDIF -->
<!-- ELSE -->
<div class="panel post cms-block-spacing">
	<div class="inner">
		{L_NO_TOPICS}
	</div>
</div>
<!-- ENDIF -->

<!-- IF not S_HIDE_HEADERS --><!-- INCLUDE overall_footer.html --><!-- ENDIF -->