<div class="panel bg2" style="width: 70%; margin: 10px auto">
	<div class="inner">
		<dl>
			<dt>
				<strong>About the Author</strong>
				<div class="profile-contact pull-right">
					<strong>Contact:</strong>
					<div class="dropdown-container dropdown-left">
						<a href="#" class="dropdown-trigger" title="Contact admin">
							<i class="icon fa-commenting-o fa-fw icon-lg" aria-hidden="true"></i><span class="sr-only">Contact admin</span>
						</a>
						<div class="dropdown hidden">
							<div class="pointer"><div class="pointer-inner"></div></div>
							<div class="dropdown-contents contact-icons">
								<a href="./../../../../ucp.php?i=pm&amp;mode=compose&amp;u=2" title="Send private message">
									<span class="contact-icon pm-icon">Send private message</span>
								</a>
								<a href="mailto:daniel@mavify.com" title="Send email" class="last-cell">
									<span class="contact-icon email-icon">Send email</span>
								</a>
							</div>
						</div>
					</div>
				</div>
				</div>
			<hr />
			</dt>
		<dd>
			<div class="pull-left medium-avatar img-circle" style="margin-right: 2.5em;">
				<a class="img-ui" href="./../../../../memberlist.php?mode=viewprofile&amp;u=2"><img src="./../../../../styles/prosilver/theme/images/no_avatar.gif" alt="" /></a>
				<div class="profile-rank">Site Admin</div>				</div>
			<p class="gen"><a href="./../../../../memberlist.php?mode=viewprofile&amp;u=2" style="color: #AA0000;" class="username-coloured">admin</a> has been a member since 15 Nov 2016, and has contributed 11 News item(s) for a total of 12 post(s).</p>
			<span class="gen">
				<a href="./../../../../search.php?author=admin&amp;fid%5B%5D=7&amp;sc=0&amp;sf=titleonly&amp;sr=topics">View all News (items) by admin</a><br />					<a href="./../../../../search.php?author_id=2&amp;sr=posts">Search all posts by admin</a>
			</span>
		</dd>
		</dl>
</div>
</div>