{% macro input(id, name, value, type, size, class, min, max, step, list) %}
    <input type="{{ type|default('text') }}" id="{{ id }}" name="{{ name }}" class="{{ class }}" value="{{ value }}" size="{{ size|default(20) }}"{% if type === 'number' %} min="{{ min }}" max="{{ max }}" step="{{ step|default(1) }}"{% else %} minlength="{{ min }}" maxlength="{{ max }}"{% endif %}{% if list %} list="{{ list }}"{% endif %} />
{% endmacro %}

{% macro pickem(id, name, value, checked, type, label, class) %}
	<label><input type="{{ type|default('radio') }}" id="{{ id }}" class="{{ class }}" name="{{ name }}" value="{{ value }}"{{ checked ? ' checked="checked"' : '' }} /> {{ lang(label) }}</label>
{% endmacro %}

{% macro dropdown(id, name, value, options, togglable) %}
	<select id="{{ id }}" name="{{ name }}"{% if togglable %} data-togglable-settings="true"{% endif %}>
	{% for option in options -%}
		<option value="{{ option.value }}"{% if option.value == value %} selected="selected"{% endif %}{% if togglable %} data-toggle-setting="#{{ id ~ '-' ~ option.value|replace({'.': '\\.'}) }}"{% endif %}>{{ lang(option.label) }}</option>
	{%- endfor %}
	</select>
{% endmacro %}

{% macro options(field_name, type, option, index, checked) %}
    {{ include('fields/options.html') }}
{% endmacro %}

{% macro choice(type, data) %}
    {% import _self as forms %}
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-options' }}">{{ lang('OPTIONS') ~ lang('COLON') }}</label></dt>
		<dd>
			{% if type === 'select' %}
				{% set type = data.FIELD_PROPS.multi_select ? 'checkbox' : 'radio' %}
				{{ forms.pickem('multi_select_' ~ data.FIELD_NAME, 'field_props[' ~ data.FIELD_NAME ~ '][multi_select]', 1, data.FIELD_PROPS.multi_select, 'checkbox', 'MULTI_SELECT', 'toggle-multi') }}<br />
			{% else %}
				{{ forms.pickem('vertical_' ~ data.FIELD_NAME, 'field_props[' ~ data.FIELD_NAME ~ '][vertical]', 1, data.FIELD_PROPS.vertical, 'checkbox', 'ALIGN_VERTICALLY') }}<br />
				{{ forms.input(data.FIELD_NAME ~ '-multi_select', 'field_props[' ~ data.FIELD_NAME ~ '][multi_select]', data.FIELD_PROPS.multi_select, 'hidden') }}
			{% endif %}
			<div id="{{ data.FIELD_NAME }}-options-container" class="field-options-list">
			{% for option in data.FIELD_PROPS.options %}
				{{ forms.options(data.FIELD_NAME, type, option, loop.index, (option in data.FIELD_PROPS.defaults)) }}
			{% endfor %}
			</div>
			<a href="#" class="add-option option-radio ui-corner-all ui-state-default" id="add-option-{{ data.FIELD_NAME }}" data-type="{{ (type == 'checkbox' or data.FIELD_PROPS.multi_select) ? 'checkbox' : 'radio' }}">{{ lang('ADD_OPTION') }}</a>
		</dd>
	</dl>
{% endmacro %}

{% macro checkbox(data) %}
    {% import _self as forms %}
	{{ forms.choice('checkbox', data) }}
{% endmacro %}

{% macro color(data) %}
    {% import _self as forms %}
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-num_colors' }}">{{ lang('COLOR_NUM_COLORS') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-num_colors', 'field_props[' ~ data.FIELD_NAME ~ '][num_colors]', data.FIELD_PROPS.num_colors, 'number', 3, '', 1) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-palette' }}">{{ lang('COLOR_PALETTE') ~ lang('COLON') }}</label><br />{{ lang('COLOR_PALETTE_EXPLAIN') }}</dt>
		<dd>
			<textarea id="{{ data.FIELD_NAME ~ '-palette' }}" name="{{ 'field_props[' ~ data.FIELD_NAME ~ '][palette]' }}" rows="4">{{ data.FIELD_PROPS.palette }}</textarea><br />
			{{ forms.pickem(data.FIELD_NAME ~ '-palette_only', 'field_props[' ~ data.FIELD_NAME ~ '][palette_only]', 1, data.FIELD_PROPS.palette_only, 'checkbox', 'COLOR_PALETTE_ONLY') }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-color' }}">{{ lang('COLOR_DISPLAY_AS') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.pickem(data.FIELD_NAME ~ '-color', 'field_props[' ~ data.FIELD_NAME ~ '][display]', 'box', data.FIELD_PROPS.display === 'box', 'radio', 'COLOR_BOX') }}<br />
			{{ forms.pickem(data.FIELD_NAME ~ '-hex', 'field_props[' ~ data.FIELD_NAME ~ '][display]', 'hex', data.FIELD_PROPS.display === 'hex', 'radio', 'COLOR_HEX') }}
		</dd>
	</dl>
{% endmacro %}

{% macro datetime(data) %}
	{% import _self as forms %}
	{%- set datetime_types = [
		{ value: 'date', label: 'DATETIME_DATE' },
		{ value: 'datetime', label: 'DATETIME_FULL' },
		{ value: 'timeonly', label: 'DATETIME_TIMEONLY' },
		{ value: 'months', label: 'DATETIME_MONTHS' },
		{ value: 'years', label: 'DATETIME_YEARS' }
	] -%}
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-type' }}">{{ lang('DATETIME_TYPE') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.dropdown(data.FIELD_NAME ~ '-type', 'field_props[' ~ data.FIELD_NAME ~ '][type]', data.FIELD_PROPS.type, datetime_types) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-num_dates' }}">{{ lang('DATETIME_NUM_DATES') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-num_dates', 'field_props[' ~ data.FIELD_NAME ~ '][num_dates]', data.FIELD_PROPS.num_dates, 'number', 3, '', 1) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-range' }}">{{ lang('DATETIME_RANGE') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.pickem(data.FIELD_NAME ~ '-range', 'field_props[' ~ data.FIELD_NAME ~ '][range]', 1, data.FIELD_PROPS.range, 'radio', 'YES') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-range', 'field_props[' ~ data.FIELD_NAME ~ '][range]', 0, !data.FIELD_PROPS.range, 'radio', 'NO') }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-min_date' }}">{{ lang('DATETIME_MIN_DATE') ~ lang('COLON') }}</label><br />{{ lang('DATETIME_MIN_EXPLAIN') }}</dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-min_date', 'field_props[' ~ data.FIELD_NAME ~ '][min_date]', data.FIELD_PROPS.min_date, 'text', 25) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-max_date' }}">{{ lang('DATETIME_MAX_DATE') ~ lang('COLON') }}</label><br />{{ lang('DATETIME_MAX_EXPLAIN') }}</dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-max_date', 'field_props[' ~ data.FIELD_NAME ~ '][max_date]', data.FIELD_PROPS.max_date, 'text', 25) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-dformat' }}">{{ lang('DATETIME_DISPLAY_FORMAT') ~ lang('COLON') }}</label><br />{{ lang('DATETIME_FORMAT_EXPLAIN') }}</dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-dformat', 'field_props[' ~ data.FIELD_NAME ~ '][dformat]', data.FIELD_PROPS.dformat, 'text', 20) }}
		</dd>
	</dl>
{% endmacro %}

{% macro image(data) %}
    {% import _self as forms %}
	{%- set image_size_options = [
		{ value: '', label: 'DEFAULT'},
		{ value: 'small-img', label: 'IMAGE_SIZE_SMALL' },
		{ value: 'medium-img', label: 'IMAGE_SIZE_MEDIUM' },
		{ value: 'large-img', label: 'IMAGE_SIZE_LARGE' },
		{ value: 'fullwidth-img', label: 'IMAGE_SIZE_FULLWIDTH' },
		{ value: 'card-img', label: 'IMAGE_SIZE_CARD' },
	] -%}
	{%- set image_align_options = [
		{ value: '', label: 'DEFAULT' },
		{ value: 'img-align-left', label: 'IMAGE_ALIGN_LEFT' },
		{ value: 'img-align-right', label: 'IMAGE_ALIGN_RIGHT' },
	] -%}
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-summary_size' }}">{{ lang('IMAGE_SIZE') ~ lang('COLON') }}</label></dt>
		<dd>
			<div class="column1">
				<h5>{{ lang('CONTENT_INDEX') }}</h5>
				{{ forms.dropdown(data.FIELD_NAME ~ '-summary_size', 'field_props[' ~ data.FIELD_NAME ~ '][summary_size]', data.FIELD_PROPS.summary_size, image_size_options) }}
			</div>
			<div class="column2">
				<h5>{{ lang('CONTENT_DETAIL') }}</h5>
				{{ forms.dropdown(data.FIELD_NAME ~ '-detail_size', 'field_props[' ~ data.FIELD_NAME ~ '][detail_size]', data.FIELD_PROPS.detail_size, image_size_options) }}
			</div>
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-summary_align' }}">{{ lang('IMAGE_ALIGN') ~ lang('COLON') }}</label></dt>
		<dd>
			<div class="column1">
				{{ forms.dropdown(data.FIELD_NAME ~ '-summary_align', 'field_props[' ~ data.FIELD_NAME ~ '][summary_align]', data.FIELD_PROPS.summary_align, image_align_options) }}
			</div>
			<div class="column2">
				{{ forms.dropdown(data.FIELD_NAME ~ '-detail_align', 'field_props[' ~ data.FIELD_NAME ~ '][detail_align]', data.FIELD_PROPS.detail_align, image_align_options) }}
			</div>
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-default' }}">{{ lang('IMAGE_DEFAULT') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-default', 'field_props[' ~ data.FIELD_NAME ~ '][default]', data.FIELD_PROPS.default, 'text', 40) }}
		</dd>
	</dl>
{% endmacro %}

{% macro location(data) %}
    {% import _self as forms %}
	{%- set display_types = [
		{ value: 'address', label: 'LOCATION_DISPLAY_TYPE_ADDRESS' },
		{ value: 'coordinates', label: 'LOCATION_DISPLAY_TYPE_COORDINATES' },
		{ value: 'active_map', label: 'LOCATION_DISPLAY_TYPE_INTERACTIVE_MAP' },
		{ value: 'static_map', label: 'LOCATION_DISPLAY_TYPE_STATIC_MAP' },
	] -%}
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-disp-type' }}">{{ lang('LOCATION_DISPLAY_TYPE') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.dropdown(data.FIELD_NAME ~ '-disp-type', 'field_props[' ~ data.FIELD_NAME ~ '][disp_type]', data.FIELD_PROPS.disp_type, display_types) }}
		</dd>
	</dl>
	{%- set map_types = [
		{ value: 'roadmap', label: 'LOCATION_MAP_TYPES_DEFAULT' },
		{ value: 'satellite', label: 'LOCATION_MAP_TYPES_SATELLITE' },
		{ value: 'hybrid', label: 'LOCATION_MAP_TYPES_HYBRID' },
		{ value: 'terrain', label: 'LOCATION_MAP_TYPES_TERRAIN' },
	] -%}
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-map-type' }}">{{ lang('LOCATION_MAP_TYPES') ~ lang('COLON') }}</label></dt>
		<dd>
		{% for type in map_types %}
			{{ forms.pickem(data.FIELD_NAME ~ '-map-type-' ~ loop.index0, 'field_options[' ~ data.FIELD_NAME ~ '][]', type.value, !data.FIELD_PROPS.options || type.value in data.FIELD_PROPS.options, 'checkbox', type.label) }}<br />
		{% endfor %}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-map_zoom' }}">{{ lang('LOCATION_MAP_ZOOM') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-map_zoom', 'field_props[' ~ data.FIELD_NAME ~ '][map_zoom]', data.FIELD_PROPS.map_zoom ?: 0, 'text', 5, '', 1, 20, 1, data.FIELD_NAME ~ '-zoom-levels') }}
			<datalist id="{{ data.FIELD_NAME ~ '-zoom-levels' }}">
				<option value="0">{{ lang('LOCATION_MAP_ZOOM_USER') }}</option>
				<option value="1">{{ lang('LOCATION_MAP_ZOOM_WORLD') }}</option>
				<option value="5">{{ lang('LOCATION_MAP_ZOOM_CONTINENT') }}</option>
				<option value="10">{{ lang('LOCATION_MAP_ZOOM_CITY') }}</option>
				<option value="15">{{ lang('LOCATION_MAP_ZOOM_STREETS') }}</option>
				<option value="20">{{ lang('LOCATION_MAP_ZOOM_BUILDINGS') }}</option>
			</datalist>
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-map_width' }}">{{ lang('LOCATION_MAP_WIDTH') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-map_width', 'field_props[' ~ data.FIELD_NAME ~ '][map_width]', data.FIELD_PROPS.map_width, 'text', 5) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-map_height' }}">{{ lang('LOCATION_MAP_HEIGHT') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-map_height', 'field_props[' ~ data.FIELD_NAME ~ '][map_height]', data.FIELD_PROPS.map_height, 'text', 5) }}
		</dd>
	</dl>
	{%- set settings_url = '<a target="_blank" href="./index.php?i=-blitze-sitemaker-acp-settings_module&mode=settings&sid=' ~ data.FIELD_PROPS.session_id ~ '#content-settings">' -%}
	<div class="warning small">{{ lang('LOCATION_GOOGLE_API_KEY_REQUIRED', settings_url, '</a>') }}</div>
{% endmacro %}

{% macro number(data) %}
    {% import _self as forms %}
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-min' }}">{{ lang('NUMBER_MIN_VALUE') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-min', 'field_props[' ~ data.FIELD_NAME ~ '][min]', data.FIELD_PROPS.min, 'number', 5) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-max' }}">{{ lang('NUMBER_MAX_VALUE') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-max', 'field_props[' ~ data.FIELD_NAME ~ '][max]', data.FIELD_PROPS.max, 'number', 5) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-step' }}">{{ lang('NUMBER_STEP') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-step', 'field_props[' ~ data.FIELD_NAME ~ '][step]', data.FIELD_PROPS.step, 'number', 5) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-size' }}">{{ lang('INPUT_SIZE') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-size', 'field_props[' ~ data.FIELD_NAME ~ '][size]', data.FIELD_PROPS.size, 'number', 5, '', 10, 100, 5) }}%
		</dd>
	</dl>
{% endmacro %}

{% macro radio(data) %}
    {% import _self as forms %}
	{{ forms.choice('radio', data) }}
{% endmacro %}

{% macro range(data) %}
    {% import _self as forms %}
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-display-0' }}">{{ lang('RANGE_DISPLAY') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.pickem(data.FIELD_NAME ~ '-display-0', 'field_props[' ~ data.FIELD_NAME ~ '][display]', 'text', (data.FIELD_PROPS.display === 'text'), 'radio', 'RANGE_DISPLAY_TEXT') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-display-1', 'field_props[' ~ data.FIELD_NAME ~ '][display]', 'slider', (data.FIELD_PROPS.display === 'slider'), 'radio', 'RANGE_DISPLAY_SLIDER') }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-type-0' }}">{{ lang('RANGE_TYPE') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.pickem(data.FIELD_NAME ~ '-type-0', 'field_props[' ~ data.FIELD_NAME ~ '][type]', 'single', (data.FIELD_PROPS.type === 'single'), 'radio', 'RANGE_TYPE_SINGLE') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-type-1', 'field_props[' ~ data.FIELD_NAME ~ '][type]', 'double', (data.FIELD_PROPS.type === 'double'), 'radio', 'RANGE_TYPE_DOUBLE') }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-skin' }}">{{ lang('RANGE_SKIN') ~ lang('COLON') }}</label></dt>
		<dd>
			{%- set range_skins = [
				{ value: 'flat', label: 'RANGE_SKIN_FLAT' },
				{ value: 'big', label: 'RANGE_SKIN_BIG' },
				{ value: 'modern', label: 'RANGE_SKIN_MODERN' },
				{ value: 'sharp', label: 'RANGE_SKIN_SHARP' },
				{ value: 'round', label: 'RANGE_SKIN_ROUND' },
				{ value: 'square', label: 'RANGE_SKIN_SQUARE' },
			] -%}
			{{ forms.dropdown(data.FIELD_NAME ~ '-skin', 'field_props[' ~ data.FIELD_NAME ~ '][skin]', data.FIELD_PROPS.skin, range_skins) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-size' }}">{{ lang('INPUT_SIZE') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-size', 'field_props[' ~ data.FIELD_NAME ~ '][size]', data.FIELD_PROPS.size, 'number', 5, '', 10, 100, 5) }}%
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-values' }}">{{ lang('RANGE_VALUES') ~ lang('COLON') }}</label><br />{{ lang('RANGE_VALUES_EXPLAIN') }}</dt>
		<dd>
			<textarea id="{{ data.FIELD_NAME ~ '-values' }}" name="{{ 'field_props[' ~ data.FIELD_NAME ~ '][values]' }}" rows="4">{{ data.FIELD_PROPS.values }}</textarea><br />
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-prefix' }}">{{ lang('RANGE_PREFIX') ~ lang('COLON') }}</label><br />{{ lang('RANGE_PREFIX_EXPLAIN') }}</dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-prefix', 'field_props[' ~ data.FIELD_NAME ~ '][prefix]', data.FIELD_PROPS.prefix, 'text', 15) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-postfix' }}">{{ lang('RANGE_POSTFIX') ~ lang('COLON') }}</label><br />{{ lang('RANGE_POSTFIX_EXPLAIN') }}</dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-postfix', 'field_props[' ~ data.FIELD_NAME ~ '][postfix]', data.FIELD_PROPS.postfix, 'text', 15) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-min' }}">{{ lang('RANGE_MIN_VALUE') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-min', 'field_props[' ~ data.FIELD_NAME ~ '][min]', data.FIELD_PROPS.min, 'number', 5) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-max' }}">{{ lang('RANGE_MAX_VALUE') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-max', 'field_props[' ~ data.FIELD_NAME ~ '][max]', data.FIELD_PROPS.max, 'number', 5) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-step' }}">{{ lang('RANGE_STEP') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-step', 'field_props[' ~ data.FIELD_NAME ~ '][step]', data.FIELD_PROPS.step, 'number', 5) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-grid-0' }}">{{ lang('RANGE_ENABLE_GRID') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.pickem(data.FIELD_NAME ~ '-grid-0', 'field_props[' ~ data.FIELD_NAME ~ '][grid]', 1, (data.FIELD_PROPS.grid !== 0), 'radio', 'YES') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-grid-1', 'field_props[' ~ data.FIELD_NAME ~ '][grid]', 0, (data.FIELD_PROPS.grid == 0), 'radio', 'NO') }}
		</dd>
	</dl>
{% endmacro %}

{% macro share(data) %}
    {% import _self as forms %}
	{%- set share_themes = [
		{ value: 'flat', label: 'SHARE_THEME_FLAT' },
		{ value: 'classic', label: 'SHARE_THEME_CLASSIC' },
		{ value: 'minima', label: 'SHARE_THEME_MINI' },
		{ value: 'plain', label: 'SHARE_THEME_PLAIN' },
	] -%}
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-theme' }}">{{ lang('SHARE_THEME') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.dropdown(data.FIELD_NAME ~ '-theme', 'field_props[' ~ data.FIELD_NAME ~ '][theme]', data.FIELD_PROPS.theme, share_themes) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-sharein' }}">{{ lang('SHARE_STRATEGY') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.pickem(data.FIELD_NAME ~ '-sharein', 'field_props[' ~ data.FIELD_NAME ~ '][sharein]', 'blank', (data.FIELD_PROPS.sharein === 'blank'), 'radio', 'SHARE_STRATEGY_BLANK') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-sharein', 'field_props[' ~ data.FIELD_NAME ~ '][sharein]', 'popup', (data.FIELD_PROPS.sharein === 'popup'), 'radio', 'SHARE_STRATEGY_POPUP') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-sharein', 'field_props[' ~ data.FIELD_NAME ~ '][sharein]', 'self', (data.FIELD_PROPS.sharein === 'self'), 'radio', 'SHARE_STRATEGY_SELF') }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-show-count' }}">{{ lang('SHARE_SHOW_COUNT') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.pickem(data.FIELD_NAME ~ '-show-count', 'field_props[' ~ data.FIELD_NAME ~ '][show_count]', 'false', data.FIELD_PROPS.show_count === 'false', 'radio', 'NO') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-show-count', 'field_props[' ~ data.FIELD_NAME ~ '][show_count]', 'true', data.FIELD_PROPS.show_count === 'true', 'radio', 'SHARE_SHOW_COUNT_OUTSIDE') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-show-count', 'field_props[' ~ data.FIELD_NAME ~ '][show_count]', 'inside', data.FIELD_PROPS.show_count === 'inside', 'radio', 'SHARE_SHOW_COUNT_INSIDE') }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-show-label' }}">{{ lang('SHARE_SHOW_LABEL') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.pickem(data.FIELD_NAME ~ '-show-label', 'field_props[' ~ data.FIELD_NAME ~ '][show_label]', 'true', data.FIELD_PROPS.show_label, 'radio', 'YES') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-show-label', 'field_props[' ~ data.FIELD_NAME ~ '][show_label]', 'false', data.FIELD_PROPS.show_label, 'radio', 'NO') }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-placement' }}">{{ lang('SHARE_PLACEMENT') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.pickem(data.FIELD_NAME ~ '-placement', 'field_props[' ~ data.FIELD_NAME ~ '][placement]', '', !data.FIELD_PROPS.placement, 'radio', 'SHARE_PLACEMENT_DEFAULT') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-placement', 'field_props[' ~ data.FIELD_NAME ~ '][placement]', 'share-left', data.FIELD_PROPS.placement === 'share-left', 'radio', 'SHARE_PLACEMENT_LEFT') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-placement', 'field_props[' ~ data.FIELD_NAME ~ '][placement]', 'share-center', data.FIELD_PROPS.placement === 'share-center', 'radio', 'SHARE_PLACEMENT_CENTER') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-placement', 'field_props[' ~ data.FIELD_NAME ~ '][placement]', 'share-right', data.FIELD_PROPS.placement === 'share-right', 'radio', 'SHARE_PLACEMENT_RIGHT') }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-corners' }}">{{ lang('SHARE_CORNERS') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.pickem(data.FIELD_NAME ~ '-corners', 'field_props[' ~ data.FIELD_NAME ~ '][corners]', '', !data.FIELD_PROPS.corners, 'radio', 'SHARE_CORNERS_SQUARE') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-corners', 'field_props[' ~ data.FIELD_NAME ~ '][corners]', 'share-rounded', data.FIELD_PROPS.corners, 'radio', 'SHARE_CORNERS_ROUND') }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-size' }}">{{ lang('SHARE_SIZE') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-size', 'field_props[' ~ data.FIELD_NAME ~ '][size]', data.FIELD_PROPS.size, 'number', 5, '', 8) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-shares' }}">{{ lang('SHARE_SITES') ~ lang('COLON') }}</label></dt>
		<dd>
			<div id="{{ data.FIELD_NAME }}-options-container" class="field-options-list">
			{%- set sites = {
				'twitter': 'Twitter',
				'facebook': 'Facebook',
				'googleplus': 'Google+',
				'linkedin': 'LinkedIn',
				'pinterest': 'Pinterest',
				'email': 'Email',
				'stumbleupon': 'StumbleUpon',
				'whatsapp': 'WhatsApp',
				'telegram': 'Telegram',
				'line': 'LINE',
				'viber': 'Viber',
				'pocket': 'Pocket',
				'messenger': 'Messenger',
				'vkontakte': 'VK',
			} -%}
			{% for option in data.FIELD_PROPS.options if sites[option] %}
				<div class="row2 field-option">
					<i class="fa fa-bars" aria-hidden="true"></i>
					{{ forms.pickem(data.FIELD_NAME ~ '-shares-default' ~ loop.index, 'field_defaults[' ~ data.FIELD_NAME ~ '][]', option, (option in data.FIELD_PROPS.defaults), 'checkbox', sites[option]) }}
					{{ forms.input(data.FIELD_NAME ~ '-shares-option' ~ loop.index, 'field_options[' ~ data.FIELD_NAME ~ '][]', option, 'hidden') }}
				</div>
			{% endfor %}
			</div>
		</dd>
	</dl>
{% endmacro %}

{% macro select(data) %}
    {% import _self as forms %}
	{{ forms.choice('select', data) }}
{% endmacro %}

{% macro text(data) %}
    {% import _self as forms %}
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-maxlength' }}">{{ lang('TEXTAREA_MAXLENGTH') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-maxlength', 'field_props[' ~ data.FIELD_NAME ~ '][maxlength]', data.FIELD_PROPS.maxlength, 'number', 5) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-size' }}">{{ lang('INPUT_SIZE') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-size', 'field_props[' ~ data.FIELD_NAME ~ '][size]', data.FIELD_PROPS.size, 'number', 5, '', 10, 100, 5) }}%
		</dd>
	</dl>
{% endmacro %}

{% macro textarea(data) %}
    {% import _self as forms %}
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-editor-0' }}">{{ lang('TEXTAREA_ENABLE_EDITOR') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.pickem(data.FIELD_NAME ~ '-editor-0', 'field_props[' ~ data.FIELD_NAME ~ '][editor]', 1, (data.FIELD_PROPS.editor !== 0), 'radio', 'YES') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-editor-1', 'field_props[' ~ data.FIELD_NAME ~ '][editor]', 0, (data.FIELD_PROPS.editor == 0), 'radio', 'NO') }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-size-small' }}">{{ lang('TEXTAREA_SIZE') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.pickem(data.FIELD_NAME ~ '-size-small', 'field_props[' ~ data.FIELD_NAME ~ '][size]', 'small', (data.FIELD_PROPS.size === 'small'), 'radio', 'TEXTAREA_SMALL') }}
			{{ forms.pickem(data.FIELD_NAME ~ '-size-large', 'field_props[' ~ data.FIELD_NAME ~ '][size]', 'large', (data.FIELD_PROPS.size === 'large'), 'radio', 'TEXTAREA_LARGE') }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-maxlength' }}">{{ lang('TEXTAREA_MAXLENGTH') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-maxlength', 'field_props[' ~ data.FIELD_NAME ~ '][maxlength]', data.FIELD_PROPS.maxlength, 'number', 5) }}
		</dd>
	</dl>
	<dl>
		<dt><label for="{{ data.FIELD_NAME ~ '-max_chars' }}">{{ lang('INDEX_MAX_CHARS') ~ lang('COLON') }}</label></dt>
		<dd>
			{{ forms.input(data.FIELD_NAME ~ '-max_chars', 'field_props[' ~ data.FIELD_NAME ~ '][max_chars]', data.FIELD_PROPS.max_chars, 'number', 5) }}
		</dd>
	</dl>
{% endmacro %}
