.tiles-container {
	width: 100%;
	margin-bottom: -10px;
}

.tile {
	margin: 0;
	padding: 0;

	.post {
		margin-bottom: 0;
	}
}

.load_more {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 10px;
	padding: 10px;
	
	a {
		text-decoration: none;

		&:hover {
			opacity: 0.7;
		}
	}
}